@model WebCoiner.Models.Dashboard


@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 110000000) * 100;
    int totalRaised = Convert.ToInt32(Model.Raised);
    var mil = Model.Raised / 1000000;
    string controllerName = Request.CurrentExecutionFilePath;
}

@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Green Block</title>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="~/assets/admin/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/app/scss/component/_banner-top.scss">

    <!-- Bootstrap-extend -->
    <link rel="stylesheet" href="~/assets/admin/css/bootstrap-extend.css">

    <!-- theme style -->
    <link rel="stylesheet" href="~/assets/admin/css/master_style.css">

    <!-- Crypto_Admin skins -->
    <link rel="stylesheet" href="~/assets/admin/css/skins/_all-skins.css">



</head>

<body class="sidebar-mini fixed sidebar-mini-expand-feature skin-green">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <b class="logo-mini">
                    <span class="light-logo">  <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo"></span>
                    <span class="dark-logo">  <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo"></span>
                </b>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo">
                    <img src="~/assets/images/logo/logo.png" alt="logo" class="dark-logo">
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->

                <div class="navbar-custom-menu">
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                        <a href="@Url.Action("Dashboard", "UserDashboard")">
                            <!-- logo for regular state and mobile devices -->
                            <img src="~/assets/images/logo/logo.png" style="height: 42px; width: 95%" class="" alt="User Image">
                        </a>
                    </div>
                    <div class="image">
                    </div>
                </div>
                <!-- sidebar menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="nav-devider"></li>
                    @if (User.IsInRole("administrator"))
                    {
                        <li class="">
                            <a href="~/dashboard/list/">
                                <i class="icon-home"></i> <span>DASHBOARD</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/transactions/list">
                                <i class="icon-chart"></i>
                                <span>TRANSACTIONS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/users/list">
                                <i class="icon-compass"></i>
                                <span>USERS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/promocodes/list">
                                <i class="icon-refresh"></i> <span>PROMOCODES</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/manage/index/">
                                <i class="icon-people"></i>
                                <span>PROFILE</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Content/GreenBlock_Whitepaper.pdf">
                                <i class="icon-doc"></i>
                                <span>WHITEPAPER</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/userdashboard/create/">
                                <i class="icon-equalizer"></i>
                                <span>BUY TOKENS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" id="modalShow">
                                <i class="icon-wallet"></i>
                                <span>PACKAGES</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"
                                       style="width: 100%; display: flex; justify-content: center; align-items: center"
                                       class="link" data-toggle="tooltip" title="" data-original-title="Logout">
                                        <i class="ion ion-power mr-5"></i>
                                        <span>Logout</span>
                                    </a>
                                }
                            }
                        </li>
                    }
                    else if (Request.IsAuthenticated)
                    {

                        <li class="">
                            <a href="~/userdashboard/create/">
                                <i class="icon-home"></i> <span>DASHBOARD</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/userdashboard/list/">
                                <i class="icon-chart"></i>
                                <span>BUY TOKENS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/users/list">
                                <i class="icon-compass"></i>
                                <span>TRANSACTIONS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/userdashboard/dashboard/">
                                <i class="icon-refresh"></i> <span>PROFILE</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>

                    }


                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="modal fade show" id="myModal" style="display: none; background-color: rgba(152, 152, 152, 0.8); overflow: hidden" aria-modal="true">
                <div class="modal-dialog" style=" width: 90%; max-width: 1200px; min-height: 100%;">
                    <div class="modal-content" style="background: rgba(0, 0, 0, 0.5);">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <section class="lis-bg-light">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-10 text-center">
                                            <div class="heading pb-4">
                                                <h2>Choose Your Package</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                             style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="price-table">
                                                <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light" style="background: #747474;">
                                                    <h5 class="text-uppercase lis-latter-spacing-2">Basic</h5>
                                                    <h1 style=" color: #fff;" class="display-4 lis-font-weight-500">1<small>%</small></h1>
                                                    <p class="mb-0">Basic Membership</p>
                                                </div>
                                                <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                    <ul class="list-unstyled lis-line-height-3">
                                                        <li style="color: black">GreenBlock-ico tokens in portfolio</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                             style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="price-table" style="color: black">
                                                <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                     style="background-color:#e6e4e2; color: black">
                                                    <h5 class="text-uppercase lis-latter-spacing-2">Silver</h5>
                                                    <h1 class="display-4 lis-font-weight-500">
                                                        1<small>%</small>-
                                                        5<small>%</small>
                                                    </h1>
                                                    <p class="mb-0">Silver Membership</p>
                                                </div>
                                                <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                    <ul class="list-unstyled lis-line-height-3">
                                                        <li>GreenBlock-ico tokens in portfolio</li>
                                                        <li>Minimum portfolio: $100,000</li>
                                                    </ul>
                                                    <a href="/userdashboard/create/" style="background-color: #035661; color: #fff"
                                                       class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                       data-abc="true">Top Up Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                             style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="price-table" style="color: black">
                                                <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                     style="background-color:#F3AF4C;">
                                                    <h5 class="text-uppercase lis-latter-spacing-2">Gold</h5>
                                                    <h1 class="display-4 lis-font-weight-500">
                                                        6<small>%</small> -
                                                        12<small>%</small>
                                                    </h1>
                                                    <p class="mb-0">Gold Membership</p>
                                                </div>
                                                <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                    <ul class="list-unstyled lis-line-height-3">
                                                        <li>GreenBlock-ico tokens in portfolio</li>
                                                        <li>Minimum portfolio: $250,000</li>
                                                    </ul>
                                                    <a href="/userdashboard/create/" style="background-color: #035661; color: #fff"
                                                       class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                       data-abc="true">Top Up Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 wow fadeInUp mb-5 mb-lg-0 text-center"
                                             style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="price-table" style="color: black">
                                                <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light"
                                                     style="        background-color:#a0b2c6;">

                                                    <h5 class="text-uppercase lis-latter-spacing-2">Platinum</h5>
                                                    <h1 class="display-4 lis-font-weight-500">
                                                        12<small>%</small>-20<small>%</small>
                                                    </h1>
                                                    <p class="mb-0">Platinum Membership</p>
                                                </div>
                                                <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                                                    <ul class="list-unstyled lis-line-height-3">


                                                        <li>GreenBlock-ico tokens in portfolio</li>
                                                        <li>Minimum portfolio: $500,000</li>

                                                    </ul>
                                                    <a href="/userdashboard/create/" style="background-color: #035661; color: #fff"
                                                       class="btn btn-primary-outline btn-md lis-rounded-circle-50"
                                                       data-abc="true">Top Up Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="close-modal"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Investment Amount</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@Model.InvestmentAmount.ToString("#,##0")</h4>
                                    </div>
                                    @*<div><i class="cc BTC font-size-40 m-0" title="BTC"></i></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Current Balance</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@Model.CurrentBalance.ToString("#,##0")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Profit</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@((Model.CurrentBalance - Model.InvestmentAmount).ToString("#,##0"))</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Token Amount</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">@Model.Tokens</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Token Distribution Chart</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="currency-value" style="height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Token Sale Price</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="bitcoin-value"></div>
                                </div>
                            </div>
                            <div class="token-bar">
                                <div class="top" style=" height: 40px">
                                    <p class="fs-14" style="  ">$20M</p>
                                    <p class="fs-14" style=" ">$50M</p>
                                    <p class="fs-14" style="  ">$95M</p>
                                    <p class="fs-14" style=" ">$110M</p>
                                </div>
                                <div class="main">
                                    <div class="progress-token">
                                        <p style="width: @raised%;" class="fs-14"> @Model.Raised.ToString("C2")</p>
                                    </div>
                                </div>

                                <div class="bottom" style=" height: 40px">
                                    <p class="fs-14">Private Sale</p>
                                    <p class="fs-14">Pre Sale</p>
                                    <p class="fs-14">Softcap</p>
                                    <p class="fs-14">Hardcap</p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            &copy; 2022 All Rights Reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog fa-spin"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Admin Birthday</h4>

                                    <p>Will be July 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Jhone Updated His Profile</h4>

                                    <p>New Email : jhone_doe@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Disha Joined Mailing List</h4>

                                    <p>disha@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Code Change</h4>

                                    <p>Execution time 15 Days</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Web Design
                                    <span class="label label-danger pull-right">40%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 40%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Data
                                    <span class="label label-success pull-right">75%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Order Process
                                    <span class="label label-warning pull-right">89%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 89%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Development
                                    <span class="label label-primary pull-right">72%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="report_panel" class="chk-col-grey">
                            <label for="report_panel" class="control-sidebar-subheading ">Report panel usage</label>

                            <p>
                                general settings information
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="allow_mail" class="chk-col-grey">
                            <label for="allow_mail" class="control-sidebar-subheading ">Mail redirect</label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="expose_author" class="chk-col-grey">
                            <label for="expose_author" class="control-sidebar-subheading ">Expose author name</label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="show_me_online" class="chk-col-grey">
                            <label for="show_me_online" class="control-sidebar-subheading ">Show me as online</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="off_notifications" class="chk-col-grey">
                            <label for="off_notifications" class="control-sidebar-subheading ">Turn off notifications</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <a href="javascript:void(0)" class="text-red margin-r-5"><i class="fa fa-trash-o"></i></a>
                                Delete chat history
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/assets/admin/vendor/jquery/dist/jquery.js"></script>

    <!-- popper -->
    <script src="~/assets/admin/vendor/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="~/assets/admin/vendor/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Slimscroll -->
    <script src="~/assets/admin/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- FastClick -->
    <script src="~/assets/admin/vendor/fastclick/lib/fastclick.js"></script>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/admin/vendor/apexcharts-bundle/irregular-data-series.js"></script>
    <script src="~/assets/admin/vendor/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="~/assets/admin/js/pages/ohlc.js"></script>

    <!-- webticker -->
    <script src="~/assets/admin/vendor/Web-Ticker-master/jquery.webticker.min.js"></script>

    <!-- Crypto_Admin App -->
    <script src="~/assets/admin/js/template.js"></script>

    <!-- Crypto_Admin dashboard demo (This is only for demo purposes) -->
    <script src="~/assets/admin/js/pages/dashboard.js"></script>
    <script src="~/assets/admin/js/pages/dashboard-chart.js"></script>

    <!-- Crypto_Admin for demo purposes -->
    <script src="~/assets/admin/js/demo.js"></script>

    <!-- END CORE TEMPLATE JS - END -->
    @section Scripts {
        <script>
            var milion =@mil;

            document.getElementById("packages-area").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "flex";
            });

            document.getElementById("close-modal").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "none";
            });

            $(".footer-bar").hide();

            document.addEventListener("DOMContentLoaded", function (event) {
                $("#backbutton").hide();
            });
        </script>
    }

    <script>
        $("#close-modal").on('click', function () {
            $("#myModal").hide();
        })
        $("#modalShow").on('click', function () {
            $("#myModal").show();
        })

        $("#btc-base-amount").keyup(function () {
            $("#token-base-amount").val(($(this).val() * 50).toFixed(2));
        });
        $("#btc-base-amount1").keyup(function () {
            $("#token-base-amount1").val(($(this).val() * 6).toFixed(2));
        });


    </script>
</body>

</html>

<style>
    .token-bar {
        margin-top: 5px;
        padding: 0 38px;
        max-width: 570px;
    }

        .token-bar .top {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

            .token-bar .top p {
                position: absolute;
            }

                .token-bar .top p:first-child {
                    left: 18%;
                }

                .token-bar .top p:nth-child(2) {
                    left: 45%;
                }

                .token-bar .top p:nth-child(3) {
                    left: 86%;
                }

                .token-bar .top p:last-child {
                    left: 97%;
                }

            .token-bar .top h6 {
                font-size: 14px;
                font-weight: 400;
            }

                .token-bar .top h6 span {
                    color: var(--primary-color);
                    font-weight: 800;
                }

        .token-bar .main .progress-token {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(12px);
            border-radius: 64px;
            padding: 4px;
            display: flex;
            border: 1px solid;
            background-color: #00000017;
        }

            .token-bar .main .progress-token p {
                background: linear-gradient(294.72deg, #6793a1 9.05%, #28874f 79.28%);
                border-radius: 64px;
                padding: 4px 17px;
                text-align: right;
                margin-bottom: 0;
                color: #000;
                font-weight: 700;
            }

        .token-bar .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            position: relative;
        }

            .token-bar .bottom p {
                position: absolute;
            }

                .token-bar .bottom p:first-child {
                    left: 18%;
                }

                .token-bar .bottom p:nth-child(2) {
                    left: 45%;
                }

                .token-bar .bottom p:nth-child(3) {
                    left: 86%;
                }

                .token-bar .bottom p:last-child {
                    left: 97%;
                }




                .token-bar .bottom p::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    left: 10%;
                    top: -54px;
                    width: 1px;
                    height: 48px;
                    background: #fff;
                }
</style>


