@model WebCoiner.Models.Dashboard


@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 110000000) * 100;
    int totalRaised = Convert.ToInt32(Model.Raised);
    var mil = Model.Raised / 1000000;
    string controllerName = Request.CurrentExecutionFilePath;
}

@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Green Block</title>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="~/assets/admin/vendor/bootstrap/dist/css/bootstrap.css">

    <!-- Bootstrap-extend -->
    <link rel="stylesheet" href="~/assets/admin/css/bootstrap-extend.css">

    <!-- theme style -->
    <link rel="stylesheet" href="~/assets/admin/css/master_style.css">

    <!-- Crypto_Admin skins -->
    <link rel="stylesheet" href="~/assets/admin/css/skins/_all-skins.css">



</head>

<body class="sidebar-mini fixed sidebar-mini-expand-feature skin-green">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <b class="logo-mini">
                    <span class="light-logo">  <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo"></span>
                    <span class="dark-logo">  <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo"></span>
                </b>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/assets/images/logo/logo.png" alt="logo" class="light-logo">
                    <img src="~/assets/images/logo/logo.png" alt="logo" class="dark-logo">
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->

                <div class="navbar-custom-menu">
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                        <a href="index.html">
                            <!-- logo for regular state and mobile devices -->
                            <img src="~/assets/images/logo/logo.png" style="height: 42px; width: 95%" class="" alt="User Image">
                        </a>
                    </div>
                    <div class="image">
                    </div>
                </div>
                <!-- sidebar menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="nav-devider"></li>
                    @if (User.IsInRole("administrator"))
                    {
                        <li class="">
                            <a href="~/dashboard/list/">
                                <i class="icon-home"></i> <span>DASHBOARD</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/transactions/list">
                                <i class="icon-chart"></i>
                                <span>TRANSACTIONS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/users/list">
                                <i class="icon-compass"></i>
                                <span>USERS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/promocodes/list">
                                <i class="icon-refresh"></i> <span>PROMOCODES</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/manage/index/">
                                <i class="icon-people"></i>
                                <span>PROFILE</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/userdashboard/create/">
                                <i class="icon-equalizer"></i>
                                <span>BUY TOKENS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                                    {
                                        @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" 
                               style="width: 100%; display: flex; justify-content: center; align-items: center"
                               class="link" data-toggle="tooltip" title="" data-original-title="Logout">
                                <i class="ion ion-power mr-5"></i>
                                <span>Logout</span>
                            </a>
                                    }
                                }
                        </li>
                    }
                    else if (Request.IsAuthenticated)
                    {

                        <li class="">
                            <a href="~/userdashboard/create/">
                                <i class="icon-home"></i> <span>DASHBOARD</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/userdashboard/list/">
                                <i class="icon-chart"></i>
                                <span>BUY TOKENS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="~/users/list">
                                <i class="icon-compass"></i>
                                <span>TRANSACTIONS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/userdashboard/dashboard/">
                                <i class="icon-refresh"></i> <span>PROFILE</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                        </li>

                    }
                  

                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Investment Amount</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@Model.InvestmentAmount.ToString("#,##0")</h4>
                                    </div>
                                    @*<div><i class="cc BTC font-size-40 m-0" title="BTC"></i></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Current Balance</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@Model.CurrentBalance.ToString("#,##0")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h4 class="mb-0">Profit</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">$@((Model.CurrentBalance - Model.InvestmentAmount).ToString("#,##0"))</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div >
                                        <h4 class="mb-0">Token Amount</h4>
                                        <h4 class="mb-0 d-flex justify-content-center">@Model.Tokens</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-15 d-flex col-xl-12 justify-content-center">
                        <div class="box-header with-border">
                            <h4 class="box-title">Packages</h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12 pointer-event">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-end">
                                    <div class="d-flex align-center justify-content-center">
                                        <h5 class="box-title mb-5">Basic</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-end">
                                    <div>
                                        <h5 class="box-title mb-5">Silver</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-end">
                                    <div class="d-flex align-center justify-content-center">
                                        <h5 class="box-title mb-5">Gold</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="d-flex justify-content-center align-items-end">
                                    <div class="d-flex align-center justify-content-center">
                                        <h5 class="box-title mb-5">Platinum</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Token Distribution Chart</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="currency-value" style="height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Token Sale Price</h4>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <div id="bitcoin-value"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            &copy; 2019 Multi-Purpose Themes. All Rights Reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog fa-spin"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Admin Birthday</h4>

                                    <p>Will be July 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Jhone Updated His Profile</h4>

                                    <p>New Email : jhone_doe@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Disha Joined Mailing List</h4>

                                    <p>disha@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Code Change</h4>

                                    <p>Execution time 15 Days</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Web Design
                                    <span class="label label-danger pull-right">40%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 40%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Data
                                    <span class="label label-success pull-right">75%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Order Process
                                    <span class="label label-warning pull-right">89%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 89%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Development
                                    <span class="label label-primary pull-right">72%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="report_panel" class="chk-col-grey">
                            <label for="report_panel" class="control-sidebar-subheading ">Report panel usage</label>

                            <p>
                                general settings information
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="allow_mail" class="chk-col-grey">
                            <label for="allow_mail" class="control-sidebar-subheading ">Mail redirect</label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="expose_author" class="chk-col-grey">
                            <label for="expose_author" class="control-sidebar-subheading ">Expose author name</label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="show_me_online" class="chk-col-grey">
                            <label for="show_me_online" class="control-sidebar-subheading ">Show me as online</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="off_notifications" class="chk-col-grey">
                            <label for="off_notifications" class="control-sidebar-subheading ">Turn off notifications</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <a href="javascript:void(0)" class="text-red margin-r-5"><i class="fa fa-trash-o"></i></a>
                                Delete chat history
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/assets/admin/vendor/jquery/dist/jquery.js"></script>

    <!-- popper -->
    <script src="~/assets/admin/vendor/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="~/assets/admin/vendor/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Slimscroll -->
    <script src="~/assets/admin/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- FastClick -->
    <script src="~/assets/admin/vendor/fastclick/lib/fastclick.js"></script>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/admin/vendor/apexcharts-bundle/irregular-data-series.js"></script>
    <script src="~/assets/admin/vendor/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="~/assets/admin/js/pages/ohlc.js"></script>

    <!-- webticker -->
    <script src="~/assets/admin/vendor/Web-Ticker-master/jquery.webticker.min.js"></script>

    <!-- Crypto_Admin App -->
    <script src="~/assets/admin/js/template.js"></script>

    <!-- Crypto_Admin dashboard demo (This is only for demo purposes) -->
    <script src="~/assets/admin/js/pages/dashboard.js"></script>
    <script src="~/assets/admin/js/pages/dashboard-chart.js"></script>

    <!-- Crypto_Admin for demo purposes -->
    <script src="~/assets/admin/js/demo.js"></script>

    <!-- END CORE TEMPLATE JS - END -->
    @section Scripts {
        <script>
            var milion =@mil;

            document.getElementById("packages-area").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "flex";
            });

            document.getElementById("close-modal").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "none";
            });

            $(".footer-bar").hide();

            document.addEventListener("DOMContentLoaded", function (event) {
                $("#backbutton").hide();
            });
        </script>
    }

    <script>
        $("#close-modal").on('click', function () {
            $("#myModal").hide();
        })
        $("#modalShow").on('click', function () {
            $("#myModal").show();
        })

        $("#btc-base-amount").keyup(function () {
            $("#token-base-amount").val(($(this).val() * 50).toFixed(2));
        });
        $("#btc-base-amount1").keyup(function () {
            $("#token-base-amount1").val(($(this).val() * 6).toFixed(2));
        });


    </script>
</body>

</html>

