@model WebCoiner.Models.Dashboard


@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 130000000) * 100;
    int totalRaised = Convert.ToInt32(Model.Raised);
    var mil = Model.Raised / 1000000;
    string controllerName = Request.CurrentExecutionFilePath;
}



<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prolution</title>
    <!-- Fav Icon  -->
    <!-- Site Title  -->
    <title>Prolution</title>
    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/assets/admin/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css">
    <link href="~/assets/fonts/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <link href="~/assets/admin/plugins/candlestick/jqcandlestick.css" rel="stylesheet" type="text/css" />
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/assets/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->
</head>

<body class="page-user">

    <!-- START TOPBAR -->
    <!--<div class='page-topbar gradient-blue1'>
        <div class='logo-area crypto'>

        </div>
        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="topnav-item item1">
                        <a href="#" class="new-link w-text">
                            Schedule
                            <span class="badge badge-primary ml-5">New</span>
                        </a>
                    </li>
                    <li class="topnav-item active item2">
                        <a href="#" class="nav-link w-text">
                            <i class="fa fa-area-chart mr-10"></i>Reports
                        </a>
                    </li>
                    <li class="topnav-item item3">
                        <a href="#" class="nav-link w-text">
                            <i class="fa fa-sitemap mr-10"></i>Trading
                        </a>
                    </li>


                    <li class="hidden-sm hidden-xs searchform">
                        <form action="#" method="post">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control animated fadeIn" placeholder="Search & Enter">
                            </div>
                            <input type='submit' value="">
                        </form>
                    </li>
                </ul>
            </div>
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="notify-toggle-wrapper spec">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-accent">3</span>
                        </a>
                        <ul class="dropdown-menu notifications animated fadeIn">
                            <li class="total">
                                <span class="small">
                                    You have <strong>3</strong> new notifications.
                                    <a href="javascript:;" class="pull-right">Mark all as Read</a>
                                </span>
                            </li>
                            <li class="list">

                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                    <li class="unread available">-->
                                        <!-- available: success, warning, info, error -->
                                        <!--<a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Successful transaction of 0.01 BTC</strong>
                                                    <span class="time small">15 mins ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="unread away">-->
                                        <!-- available: success, warning, info, error -->
                                        <!--<a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>4 of Pending Transactions!</strong>
                                                    <span class="time small">45 mins ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" busy">-->
                                        <!-- available: success, warning, info, error -->
                                        <!--<a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Cancelled Order of 200 ICO</strong>
                                                    <span class="time small">1 hour ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class=" available">-->
                                        <!-- available: success, warning, info, error -->
                                        <!--<a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Great Speed Notify of 1.34 LTC</strong>
                                                    <span class="time small">14th Mar</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="external">
                                <a href="javascript:;">
                                    <span>Read All Notifications</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="message-toggle-wrapper spec">
                        <a href="#" data-toggle="dropdown" class="toggle mr-15">
                            <i class="fa fa-envelope"></i>
                            <span class="badge badge-accent">7</span>
                        </a>
                        <ul class="dropdown-menu messages animated fadeIn">

                            <li class="list">

                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                    <li class="unread status-available">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-1.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Clarine Vassar</strong>
                                                    <span class="time small">- 15 mins ago</span>
                                                    <span class="profile-status available pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-away">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-2.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Brooks Latshaw</strong>
                                                    <span class="time small">- 45 mins ago</span>
                                                    <span class="profile-status away pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-busy">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-3.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Clementina Brodeur</strong>
                                                    <span class="time small">- 1 hour ago</span>
                                                    <span class="profile-status busy pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-offline">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-4.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Carri Busey</strong>
                                                    <span class="time small">- 5 hours ago</span>
                                                    <span class="profile-status offline pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-offline">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-5.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Melissa Dock</strong>
                                                    <span class="time small">- Yesterday</span>
                                                    <span class="profile-status offline pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-available">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-1.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Verdell Rea</strong>
                                                    <span class="time small">- 14th Mar</span>
                                                    <span class="profile-status available pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-busy">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-2.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Linette Lheureux</strong>
                                                    <span class="time small">- 16th Mar</span>
                                                    <span class="profile-status busy pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" status-away">
                                        <a href="javascript:;">
                                            <div class="user-img">
                                                <img src="~/assets/data/profile/avatar-3.png" alt="user-image" class="img-circle img-inline">
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Araceli Boatright</strong>
                                                    <span class="time small">- 16th Mar</span>
                                                    <span class="profile-status away pull-right"></span>
                                                </span>
                                                <span class="desc small">
                                                    Lorem ipsum dolor sit elit fugiat molest.
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="external">
                                <a href="javascript:;">
                                    <span>Read All Messages</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="profile">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <img src="~/assets/data/profile/profile.jpg" alt="user-image" class="img-circle img-inline">
                            <span>Arnold Ramsy <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href="crypto-account-setting.html">
                                    <i class="fa fa-wrench"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="crypto-profile.html">
                                    <i class="fa fa-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="crypto-faq.html">
                                    <i class="fa fa-info"></i> Help
                                </a>
                            </li>
                            <li class="last">
                                <a href="crypto-login.html">
                                    <i class="fa fa-lock"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>-->
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

        <!--<div class="page-sidebar fixedscroll">-->

            <!-- MAIN MENU - START -->
            <!--<div class="page-sidebar-wrapper crypto" id="main-menu-wrapper">

                <ul class='wraplist'>
                    <li class='menusection'>Main</li>
                    <li class="">
                        <a href="index-crypto-dashboard.html">
                            <i class="img relative crypto-ic ">
                                <img src="~/assets/data/crypto-dash/icons/1.png" alt="" class="ic1 width-20">
                            </i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="crypto-wallet.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/2.png" alt="" class="width-20">
                            </i>
                            <span class="title">Crypto Wallet</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="crypto-buy-sell.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/6.png" alt="" class="width-20">
                            </i>
                            <span class="title">Buy & Sell</span>
                        </a>
                    </li>
                    <li class="open">
                        <a href="crypto-ico-admin.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/4.png" alt="" class="width-20">
                            </i>
                            <span class="title">ICO Admin</span>
                            <span class="label label-accent">HOT</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="crypto-affiliate.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/8.png" alt="" class="width-20">
                            </i>
                            <span class="title">Affiliate Program</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="crypto-profile.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/10.png" alt="" class="width-20">
                            </i>
                            <span class="title">Trader Profile</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="crypto-faq.html">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/12.png" alt="" class="width-20">
                            </i>
                            <span class="title">Support</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/11.png" alt="" class="width-20">
                            </i>
                            <span class="title">Settings</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="crypto-personal-setting.html">Personal Settings</a>
                            </li>
                            <li>
                                <a class="" href="crypto-account-setting.html">Account Settings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/9.png" alt="" class="width-20">
                            </i>
                            <span class="title">Access Pages</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="crypto-login.html">Login</a>
                            </li>
                            <li>
                                <a class="" href="crypto-register.html">Registration</a>
                            </li>
                            <li>
                                <a class="" href="ui-404.html">404</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/7.png" alt="" class="width-20">
                            </i>
                            <span class="title">Mailbox</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu" style="display: none;">
                            <li>
                                <a class="" href="crypto-mail-inbox.html">Inbox</a>
                            </li>
                            <li>
                                <a class="" href="crypto-mail-compose.html">Compose</a>
                            </li>
                            <li>
                                <a class="" href="crypto-mail-view.html">View</a>
                            </li>
                            <li>
                                <a class="" href="crypto-mail-important.html">Important Mail</a>
                            </li>
                            <li>
                                <a class="" href="crypto-mail-trash.html">Mail Trash</a>
                            </li>
                        </ul>
                    </li>
                    <li class='menusection'>Data Visualization</li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/16.png" alt="" class="width-20">
                            </i>
                            <span class="title">Echarts</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="charts-echart-line.html">Line & Area Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-echart-bar.html">Bar & Stacked Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/17.png" alt="" class="width-20">
                            </i>
                            <span class="title">Morris Charts</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="charts-morris-line.html">Line Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-morris-bar.html">Bar & Stacked Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-morris-area.html">Area Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-morris-pie.html">Pie Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/18.png" alt="" class="width-20">
                            </i>
                            <span class="title">Charts JS</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="charts-chartjs-line.html">Line Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-chartjs-bar.html">Bar Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-chartjs-pie-donut.html">Pie & Donut</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/19.png" alt="" class="width-20">
                            </i>
                            <span class="title">Flot Charts</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="charts-flot-area.html">Area Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-flot-line.html">Line Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/20.png" alt="" class="width-20">
                            </i>
                            <span class="title">Sparkline Charts</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="charts-sparkline-line.html">Line & Area Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-sparkline-bar.html">Bar Charts</a>
                            </li>
                            <li>
                                <a class="" href="charts-sparkline-composite.html">Composite Charts</a>
                            </li>
                        </ul>
                    </li>

                    <li class='menusection'>User Interface</li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/13.png" alt="" class="width-20">
                            </i>
                            <span class="title">Ui Elements</span> <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">


                            <li class="">
                                <a href="javascript:;"><span class="title">Timeline</span> <span class="arrow "></span> </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="" href="ui-timeline-centered.html">Centered timeline</a>
                                    </li>
                                    <li>
                                        <a class="" href="ui-timeline-left.html">Left Aligned timeline</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:;"><span class="title">Pricing Tables</span> <span class="arrow "></span> </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="" href="ui-pricing-expanded.html">Expanded</a>
                                    </li>
                                    <li>
                                        <a class="" href="ui-pricing-narrow.html">Narrow</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:;"><span class="title">Icon Sets</span> <span class="arrow "></span> </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="" href="ui-icons.html">Icon Styles</a>
                                    </li>
                                    <li>
                                        <a class="" href="ui-fontawesome.html">Font Awesome</a>
                                    </li>
                                    <li>
                                        <a class="" href="ui-glyphicons.html">Glyph Icons</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;"><span class="title">Form Elements</span> <span class="arrow "></span> </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="" href="form-elements.html">Field Elements</a>
                                    </li>
                                    <li>
                                        <a class="" href="form-elements-premade.html">Pre Made Forms</a>
                                    </li>
                                    <li>
                                        <a class="" href="form-elements-icheck.html">Checkbox & Radio</a>
                                    </li>
                                    <li>
                                        <a class="" href="form-elements-grid.html">Form Grid</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="form-wizard.html"> <span class="title">Form Wizard</span> </a>
                            </li>
                            <li>
                                <a href="form-validation.html"> <span class="title">Form Validations</span> </a>
                            </li>

                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/14.png" alt="" class="width-20">
                            </i>
                            <span class="title">Components</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="ui-tabs.html">Tabs</a>
                            </li>
                            <li>
                                <a class="" href="ui-accordion.html">Accordions</a>
                            </li>
                            <li>
                                <a class="" href="ui-progress.html">Progress Bars</a>
                            </li>
                            <li>
                                <a class="" href="ui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a class="" href="ui-modals.html">Modals</a>
                            </li>
                            <li>
                                <a class="" href="ui-alerts.html">Alerts</a>
                            </li>
                            <li>
                                <a class="" href="ui-notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a class="" href="ui-tooltips.html">Tooltips</a>
                            </li>
                            <li>
                                <a class="" href="ui-popovers.html">Popovers</a>
                            </li>
                            <li>
                                <a class="" href="ui-navbars.html">Navbars</a>
                            </li>
                            <li>
                                <a class="" href="ui-dropdowns.html">Dropdowns</a>
                            </li>
                            <li>
                                <a class="" href="ui-breadcrumbs.html">Breadcrumbs</a>
                            </li>
                            <li>
                                <a class="" href="ui-pagination.html">Pagination</a>
                            </li>
                            <li>
                                <a class="" href="ui-labels-badges.html">Labels & Badges</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="~/assets/data/crypto-dash/icons/15.png" alt="" class="width-20">
                            </i>
                            <span class="title">Appearance</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="ui-typography.html">Typography</a>
                            </li>
                            <li>
                                <a class="" href="ui-grids.html">Grids</a>
                            </li>
                            <li>
                                <a class="" href="ui-panels.html">Draggable Panels</a>
                            </li>
                            <li>
                                <a class="" href="ui-group-list.html">Group Listing</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>-->
            <!-- MAIN MENU - END -->

        <!--</div>-->
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->
                <div class="col-lg-3">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>Tokens Balance</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>@Model.Tokens.ToString("#,##0")<small>BTR</small></h2>
                            <p class="mb-0 w-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>Your Portfolio</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$@Model.InvestmentAmount.ToString("#,##0")</h2>
                            <p class="mb-0 w-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>Current Balance</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$@Model.CurrentBalance.ToString("#,##0")</h2>
                            <p class="mb-0 g-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="profile-balance gradient-blue mb-15">
                        <div class="profile-bal-head">
                            <h3>Profit</h3>
                        </div>
                        <div class="profile-bal-body">
                            <h2>$@((Model.CurrentBalance - Model.InvestmentAmount).ToString("#,##0"))</h2>
                            <p class="mb-0 g-text"></p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-lg-8">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Total Token Earnings</h2>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="relative">
                                        <canvas id="line-chartjs"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="r1_graph1 db_box db_box_large mt-15 text-center">
                                <div class="invest-img relative">
                                    <img src="~/assets/data/crypto-dash/invest-img.png" class="center-block img-responsive" alt="">
                                    <div class="invest-data">
                                        <h5 class="boldy mt-0">Investment Split</h5>
                                        <h2 class="boldy">45%</h2>
                                        <p class="mb-0">On Ethereum</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 no-pr">
                                        <div class="text-left">
                                            <h5><i class="fa fa-dot-circle-o p-text mr-10"></i>Bitcoin <span class="mb-0 green-text">24.98%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 no-pr">
                                        <div class="text-left">
                                            <h5><i class="fa fa-dot-circle-o blue-text mr-10"></i>Litecoin <span class="mb-0 green-text">19.98%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 no-pr">
                                        <div class="text-left">
                                            <h5><i class="fa fa-dot-circle-o red-text mr-10"></i>Dashcoin <span class="mb-0 green-text">19.36%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 no-pr">
                                        <div class="text-left">
                                            <h5><i class="fa fa-dot-circle-o green-text mr-10"></i>Monero <span class="mb-0 green-text">9.05%</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item ">
                        <h4>Round 1</h4>
                        <h3><strong class="xzc-1-month">0.96$</strong></h3>
                        <span>1 ETH = 500 Token</span>
                        <div class="pricing">15,000,000 Token</div>
                        <label><strong>42% bonus</strong></label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item ">
                        <h4>Round 2</h4>
                        <h3><strong class="xzc-1-month">1.25$</strong></h3>
                        <span>1 ETH = 500 Token</span>
                        <div class="pricing">15,000,000 Token</div>
                        <label><strong>30% bonus</strong></label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item ">
                        <h4>Round 3</h4>
                        <h3><strong class="xzc-1-month">1.50$</strong></h3>
                        <span>1 ETH = 500 Token</span>
                        <div class="pricing">15,000,000 Token</div>
                        <label><strong>25% bonus</strong></label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item ">
                        <h4>Round 4</h4>
                        <h3><strong class="xzc-1-month">1.96$</strong></h3>
                        <span>1 ETH = 500 Token</span>
                        <div class="pricing">15,000,000 Token</div>
                        <label><strong>15% bonus</strong></label>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="col-lg-12 dash-scale">
                    <div class="col-lg-4">
                        <div class="dotted-wrapper mt-15">
                            <div class="ref-payout">
                                <img src="~/assets/data/crypto-dash/coin1.png" alt=""><span class="w-text">BTC Payout Address</span>
                            </div>
                            <div class="payout-address mt-30">
                                <div class="input-group primary mb-30">
                                    <input type="text" class="form-control text-left transparent" value="Xy734-34093jksd90sk-JKAOOEI900" aria-describedby="basic-addon1">
                                    <span class="input-group-addon orange-bg" id="basic-addon1"><span class="arrow"></span><i class="fa fa-edit"></i></span>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg gradient-orange"> Withdraw BTC Funds</button>
                            </div>
                        </div>
                    </div>
                    <div class="ref-num-box statistics-box mt-15 text-center pt0 pb30">
                        <h4 class="boldy mt-30 mb-5">The Funds Rasied </h4>
                        <p class="mb-0 text-muted boldy mb-30">@totalRaised.ToString("#,##0") ML</p>
                        <!-- Countdown  -->
                        <div class="ico-progress">
                            <ul class="list-unstyled list-inline clearfix mb-10">
                                <li class="title">33m</li>
                                <li class="strength">75m</li>
                            </ul>
                            <!-- skill strength -->
                            <div class="current-progress relative">
                                <div class="progress progress-lg">
                                    <div class="progress-bar gradient-blue" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: @raised%" ;"></div>
                                </div>
                            </div>
                            <span class="pull-left">Softcap in 103 days</span>
                            <span class="pull-right">Token Hardcap</span>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

            <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="#"><img src="~/assets/data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- CORE JS FRAMEWORK - START -->
    <script src="~/assets/admin/js/jquery-1.11.2.min.js"></script>
    <script src="~/assets/admin/js/jquery.easing.min.js"></script>
    <script src="~/assets/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/admin/pace/pace.min.js"></script>
    <script src="~/assets/admin/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/admin/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="~/assets/admin/js/jquery-1.11.2.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script src="~/assets/admin/plugins/chartjs-chart/Chart.min.js"></script>
    <script src="~/assets/admin/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="~/assets/admin/js/syotimer-ini.js"></script>
    <script src="~/assets/admin/js/dashboard-crypto.js"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE TEMPLATE JS - START -->
    <script src="~/assets/admin/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->
    <style>
        .tb_button {
            padding: 1px;
            cursor: pointer;
            border-right: 1px solid #8b8b8b;
            border-left: 1px solid #FFF;
            border-bottom: 1px solid #fff;
        }

            .tb_button.hover {
                border: 2px outset #def;
                background-color: #f8f8f8 !important;
            }

        .ws_toolbar {
            z-index: 100000
        }

            .ws_toolbar .ws_tb_btn {
                cursor: pointer;
                border: 1px solid #555;
                padding: 3px
            }

        .tb_highlight {
            background-color: yellow
        }

        .tb_hide {
            visibility: hidden
        }

        .ws_toolbar img {
            padding: 2px;
            margin: 0px
        }
    </style>
    @section Scripts {
        <script>
            var milion =@mil;

            $("#token-base-amount").keyup(function () {
                $("#token-amount").text(($(this).val() * 50).toFixed(0));
            });
            $("#token-base-amount1").keyup(function () {
                $("#token-amount").text(($(this).val() * 0.1).toFixed(2));
            });

        //$("#btc-base-amount").on("keyup", function () {
        //    var inputvalue = $(this).val()
        //    values = inputvalue.replace('$', '').replace(',', '').replace('.', '');

        //    //values = values * 12;

        //    //TODO Raised from http://Prolution-ico.com/dashboard/list/ ...
        //    //var milion = 14;

        //    if (milion < 15)
        //        values = values * 10;
        //    else if (milion > 15 && milion < 49)
        //        values = values * 4;
        //    else
        //        values = values * 2;


        //   // if (milion < 5)
        //   //     values = values * 13;
        //   //else if (milion < 40)
        //   //     values = values * 7;
        //   // else
        //   //     values = values * 3.5;
        //    //if (values < 10000)
        //    //    values = values * 3.9;
        //    //else if (values < 30000)
        //    //    values = values * 5.5;
        //    //else if (values < 60000)
        //    //    values = values * 7.3;
        //    //else if (values < 100000)
        //    //    values = values * 9.6;
        //    //else if (values < 250000)
        //    //    values = values * 12.7;
        //    //else
        //    //    values = values * 19;

        //    $("#token-base-amount").val(values);

        //})

            document.getElementById("packages-area").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "flex";
            });

            document.getElementById("close-modal").addEventListener("click", function () {
                document.getElementById("myModal").style.display = "none";
            });

            $(".footer-bar").hide();

            document.addEventListener("DOMContentLoaded", function (event) {
                $("#backbutton").hide();
            });
        </script>
    }
</body>

</html>

