@{
    @model WebCoiner.GlobalDashboardList
    //decimal currentpercentage = 23;
    Console.WriteLine("STUFF");
    double txRaised = (double)Model.Raised;
    double raised = (txRaised / 85000000) * 100;
    long num = 0;
    long.TryParse(txRaised.ToString(), out num);
    String finalRaised = num.ToString("N0");

    double percentage = ((double)Model.Raised / 110000000) * 100;
    //155 = 10M
    double finalRaisedDo = Convert.ToDouble(finalRaised);
    Console.WriteLine("RAISED IS " + finalRaisedDo);
    if (finalRaisedDo > 0 && finalRaisedDo <= 500000)
    {
        percentage = 5;
    }
    else if (finalRaisedDo > 500000 && finalRaisedDo <= 1000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 1000000 && finalRaisedDo <= 1500000)
    {
        percentage = 15;
    }
    else if (finalRaisedDo > 1500000 && finalRaisedDo <= 2000000)
    {
        percentage = 20;
    }
    else if (finalRaisedDo > 2000000 && finalRaisedDo <= 2500000)
    {
        percentage = 25;
    }
    else if (finalRaisedDo > 2500000 && finalRaisedDo <= 3000000)
    {
        percentage = 30;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 35;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 40;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 45;
    }
    else if (finalRaisedDo > 3500000 && finalRaisedDo <= 4000000)
    {
        percentage = 50;
    }
    else if (finalRaisedDo > 4000000 && finalRaisedDo <= 5000000)
    {
        percentage = 80;
    }
    else if (finalRaisedDo > 5000000 && finalRaisedDo <= 6000000)
    {
        percentage = 85;
    }
    else if (finalRaisedDo > 6000000 && finalRaisedDo <= 7000000)
    {
        percentage = 100;
    }
    else if (finalRaisedDo > 7000000 && finalRaisedDo <= 8000000)
    {
        percentage = 120;
    }
    else if (finalRaisedDo > 8000000 && finalRaisedDo <= 9000000)
    {
        percentage = 140;
    }
    else if (finalRaisedDo > 9000000 && finalRaisedDo <= 10000000)
    {
        percentage = 155;
    }
    else if (finalRaisedDo > 10000000 && finalRaisedDo <= 15000000)
    {
        percentage = 160;
    }
    else if (finalRaisedDo > 15000000 && finalRaisedDo <= 20000000)
    {
        percentage = 165;
    }
    else if (finalRaisedDo > 20000000 && finalRaisedDo <= 25000000)
    {
        percentage = 170;
    }
    else if (finalRaisedDo > 25000000 && finalRaisedDo <= 30000000)
    {
        percentage = 175;
    }
    else if (finalRaisedDo > 30000000 && finalRaisedDo <= 35000000)
    {
        percentage = 195;
    }
    else if (finalRaisedDo > 35000000 && finalRaisedDo < 40000000)
    {
        percentage = 200;
    }
    else if (finalRaisedDo >= 4000000 && finalRaisedDo <= 45000000)
    {
        percentage = 230;
    }
    else if (finalRaisedDo > 45000000 && finalRaisedDo <= 50000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 50000000 && finalRaisedDo <= 55000000)
    {
        percentage = 250;
    }
    else if (finalRaisedDo > 55000000 && finalRaisedDo <= 60000000)
    {
        percentage = 270;
    }
    else if (finalRaisedDo > 60000000 && finalRaisedDo <= 65000000)
    {
        percentage = 280;
    }
    else if (finalRaisedDo > 65000000 && finalRaisedDo <= 70000000)
    {
        percentage = 300;
    }
    else if (finalRaisedDo > 70000000 && finalRaisedDo <= 75000000)
    {
        percentage = 320;
    }
    else if (finalRaisedDo > 75000000 && finalRaisedDo < 80000000)
    {
        percentage = 325;
    }
    else if (finalRaisedDo >= 80000000 && finalRaisedDo <= 85000000)
    {
        percentage = 350;
    }
    @* else if (finalRaisedDo > 85000000 && finalRaisedDo <= 95000000)
        {
            percentage = 350;
        }*@
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBlock</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/assets/app/dist/app.css">
    <link rel="stylesheet" href="~/assets/style.css" />
    <!-- end Styles -->
    <!-- Favicon and Touch Icons  -->

</head>
<body class="home-main header-fixed" data-magic-cursor="show">

    <!-- Preloading -->
    <div class="preloader">
        <div class=" loader">
            <div class="square"></div>
            <div class="path">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="text-load">Loading :</p>
        </div>
    </div>
    <!-- End Preloading -->
    <!-- MAGIC CURSOR -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- /MAGIC CURSOR -->
    <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__body">
                        <div class="header__logo">
                            <a href="index.html">
                                <img id="site-logo" src="~/assets/images/logo/logo.png"
                                     alt="ICOLand" style="width: 100%; height: 44px;"
                                     data-retina="~/assets/images/logo/logo.png">
                            </a>
                        </div>

                        <div class="header__right">
                            <nav id="main-nav" class="main-nav">
                                <ul id="menu-primary-menu" class="menu">
                                    <li class="menu-item menu-item-has-children current-menu-item">
                                        <a href="#">Home Page</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#About">About Us</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#RoadMap">Road Map</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#token">Token Detail</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#faq">FAQ</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#document">Whitepaper</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#contact">Contact</a>
                                    </li>

                                </ul>
                            </nav>
                            <div class="group-button">
                                <a class="btn-action" href="account/login">
                                    <span>LOGIN</span>
                                </a>
                            </div>
                            <div class="mobile-button"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end Header -->
    <!-- Banner Top -->
    <section class="banner-top style-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="banner-top__content">
                        <h2 class="title">Powering Data for the new equity blockchain.</h2>
                        <p class="desc">business that provides a broad range of energy solutions including designs and implementation of energy savings projects and the platform that helps investors to trade energy through the blockchain smart contracts.</p>

                        <div class="button">
                            <a class="btn-action" href="@Url.Action("account", "register")"><span>REGISTER & BUY TOKEN NOW</span><span class="icon-arrow"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="banner-top__sale">
                        <div class="sale-content">
                            <h3>Token sale End In</h3>
                            <span class="js-countdown" data-timer="4790550"></span>

                            <div class="token-bar">
                                <div class="top">
                                    <p class="fs-14" style="">$20M</p>
                                    <p class="fs-14" style="">$50M</p>
                                    <p class="fs-14" style="">$95M</p>
                                    <p class="fs-14" style="">$110M</p>
                                </div>
                                <div class="main">
                                    <div class="progress-token">
                                        <p style="width: @raised%;" class="fs-14"> @Model.Raised.ToString("C2")</p>
                                    </div>
                                </div>

                                <div class="bottom">
                                    <p class="fs-14">Private Sale</p>
                                    <p class="fs-14">Pre Sale</p>
                                    <p class="fs-14">Softcap</p>
                                    <p class="fs-14">Hardcap</p>

                                </div>
                            </div>

                            <div class="sale-bottom">
                                <ul class="list-coin">
                                    <li>
                                        <h6>Raised : <span> @Model.Raised.ToString("C2")</span></h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Banner Top -->
    <!-- Section Features -->
    <section class="about style-1" id="About">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-md-12">
                    <div class="about__image">
                        <img src="~/assets/images/layout/Graphic.png" alt="ICOLand">
                    </div>
                </div>
                <div class="col-xl-5 col-md-12">
                    <div class="about__content">
                        <div class="block-text">
                            <h3 class="title">About Us</h3>
                        </div>

                        <div class="list-icon-box" data-aos="fade-up" data-aos-duration="800">
                            <div class="icon-box">
                                <div class="icon"><span class="icon-users"></span></div>
                                <div class="content">
                                    <p class="fs-14">
                                        We are a company who aims to become an innovator offering effective solutions to the world's problems.

                                    </p>
                                </div>
                            </div>
                            <div class="icon-box">
                                <div class="icon"><span class="icon-users"></span></div>
                                <div class="content">
                                    <p class="fs-14">
                                        We are dedicated to providing clean, green, and low-carbon energy by using cutting-edge technology such as blockchain,
                                        smart contracts, and artificial intelligence to create a seamless, efficient, reliable,
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box">
                                <div class="icon"><span class="icon-users"></span></div>
                                <div class="content">
                                    <p class="fs-14"> and cost-effective infrastructure for businesses to implement their operations in the marketplace.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Features -->
    <!-- Section Choose -->
    <section class="features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3 class="title">
                            Why People Choose Greenblock?
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="choose__box" data-aos="fade-up" data-aos-duration="800">
                        <div class="choose__box-icon center">
                            <div class="icon">
                                <span class="icon-mobile"></span>
                            </div>
                            <div class="content">
                                <h5 class="h5">1. Net Zero </h5>
                                <p class="mt-9">Use blockchain smart contract technology to achieve global carbon net zero emissions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="choose__box" data-aos="fade-up" data-aos-duration="1000">
                        <div class="choose__box-icon center">
                            <div class="icon">
                                <span class="icon-startup"></span>
                            </div>
                            <div class="content">
                                <h5 class="h5">2. Investment Projects </h5>
                                <p class="mt-9">The platform helps investors to make easy to purchase and sell green renewable energy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="choose__box" data-aos="fade-up" data-aos-duration="1200">
                        <div class="choose__box-icon center">
                            <div class="icon">
                                <span class="icon-vuesax"></span>
                            </div>
                            <div class="content">
                                <h5 class="h5">3. Global Ecosystem & Marketplace</h5>
                                <p class="mt-9">Create the first global liberal marketplace and inclusive ecosystem for energy efficiency.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="choose__box" data-aos="fade-up" data-aos-duration="1400">
                        <div class="choose__box-icon center">
                            <div class="icon">
                                <span class="icon-mobile"></span>
                            </div>
                            <div class="content">
                                <h5 class="h5">4. Open Energy Efficiency Market</h5>
                                <p class="mt-9">energy efficiency market to all classes of investors and enable unprecedented growth </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Choose -->
    <!-- Section Allocation & Funds Distribution -->
    <section class="allo-dist" id="sales">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3>Token Allocation</h3>
                        @*<p class="mt-12">Join the industry leaders to discuss where the markets are heading. We accept token payments.</p>*@
                    </div>

                    <div class="allo-dist__main" data-aos="fade-up" data-aos-duration="800">
                        <div class="flat-tabs">
                            <ul class="menu-tab">
                                <li class="active"><h6 class="fs-16">Distribution</h6></li>
                            </ul>
                            <div class="content-tab">
                                <div class="content-inner">
                                    <div class="list-progress">
                                        <div class="progress">
                                            <div class="title">
                                                <p>Token Sale: 50%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s1" data-percentNumber="50"></div>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="title">
                                                <p>Team & Advisors: 25%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s2" data-percentNumber="25"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chart-bar">
                                        <span class="first50" style=" top: 140px; right: 15px;">50%</span>
                                        <span class="first25" style="top: 202px; left: 54px;">25%</span>
                                        <span class="first15" style=" top: 100px; left: 26px;">15%</span>
                                        <span class="first10" style=" top: 54px; left: 78px;">10%</span>

                                        <canvas id="myChart1"></canvas>
                                    </div>

                                    <div class="list-progress right">
                                        <div class="progress">
                                            <div class="title">
                                                <p>Business Dev: 15%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s4" data-percentNumber="15"></div>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="title">
                                                <p>Marketing & Reserve: 10%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s5" data-percentNumber="10"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="content-inner">
                                    <div class="list-progress">
                                        <div class="progress">
                                            <div class="title">
                                                <p>Marketing: 25%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s1" data-percentNumber="25"></div>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="title">
                                                <p>Bussiness Development: 25%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s2" data-percentNumber="25"></div>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="title">
                                                <p>Product Development: 10%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s3" data-percentNumber="10"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chart-bar">
                                        <canvas id="myChart2"></canvas>
                                    </div>

                                    <div class="list-progress right">
                                        <div class="progress">
                                            <div class="title">
                                                <p>Reserve: 10%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s4" data-percentNumber="10"></div>
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="title">
                                                <p>Reserve: 10%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s5" data-percentNumber="10"></div>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="title">
                                                <p>Token Sale: 20%</p>
                                            </div>
                                            <div class="barline">
                                                <div class="countbar s6" data-percentNumber="20"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Allocation & Funds Distribution -->
    <!-- Section Road Map -->
    <section class="road-map style-2" id="RoadMap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3>Roadmap</h3>
                        <p class="mt-12">The use of cryptocurrencies has become more widespread, The origin platform idea.<br> Development of the concept and business plan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="roadmap__main" data-aos="fade-up" data-aos-duration="800">
                        <div class="box-roadmap bottom">
                            <div class="title"><h5 class="fs-24">2021 <span>Q1</span></h5></div>
                            <div class="content">
                                <h5>Concept</h5>
                                <ul class="list">
                                    <li><span class="icon-gene"></span><p>Concept Generation</p></li>
                                    <li><span class="icon-gene"></span><p>Team Assemble</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap top">
                            <div class="title"><h5 class="fs-24">2021 <span>Q2</span></h5></div>
                            <div class="content">
                                <h5>Development</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>Providing the concept work strategy</p></li>
                                    <li><span class="icon-gene"></span><p>White paper conpletion</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap bottom">
                            <div class="title"><h5 class="fs-24">2021 <span>Q3</span></h5></div>
                            <div class="content">
                                <h5>Design</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>starting to build GBLC#152 protocol platform</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap top">
                            <div class="title"><h5 class="fs-24">2021 <span>Q4</span></h5></div>
                            <div class="content">
                                <h5>Funding</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>finding private investors for initial launch of the project</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap bottom">
                            <div class="title"><h5 class="fs-24">2022 <span>Q1</span></h5></div>
                            <div class="content">
                                <h5>Testing</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>Beta launch of the platform</p></li>
                                    <li><span class="icon-gene"></span><p>Coin Development</p></li>
                                    <li><span class="icon-boxs"></span><p>supporting ERC20t tokens</p></li>

                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap top">
                            <div class="title"><h5 class="fs-24">2022 <span>Q2 1/2</span></h5></div>
                            <div class="content">
                                <h5>Office</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>establishing the representative office</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-roadmap bottom">
                            <div class="title"><h5 class="fs-24">2022 <span>Q2</span></h5></div>
                            <div class="content">
                                <h5>Launch</h5>
                                <ul class="list">
                                    <li><span class="icon-boxs"></span><p>Launching the platform in full mode</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Road Map -->
    <!-- Section Token Details -->
    <section class="token-details style-1" id="token">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3>ICO Token Details</h3>
                        <p class="mt-12">
                            Join the industry leaders to discuss where the markets are heading. We accept token payments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-25">
                <div class="col-md-6">
                    <div class="infomation" data-aos="fade-up" data-aos-duration="800">
                        <ul class="info-list">
                            <li class="active">
                                <h5>Start</h5>
                                <p class="fs-17">Jun 30, 2022 (9:00AM GMT)</p>
                            </li>
                            <li>
                                <h5>End</h5>
                                <p class="fs-17">Aug 15, 2022 (9:00AM GMT)</p>
                            </li>
                            <li>
                                <h5>1 GBLC = $0.02</h5>
                                <p class="fs-17">1 ETH = 650 ICC, 1 BTC = 1940 ICC</p>
                            </li>
                            <li>
                                <h5>Minimal Transaction</h5>
                                <p class="fs-17">10 Tokens / Transaction</p>
                            </li>
                            <li>
                                <h5>Acceptable curencies</h5>
                                <p class="fs-17">ETH, BTC</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="token-details__image">
                        <img src="~/assets/images/layout/tokendetails.png" alt="ICOLand">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Token Details -->
    <!-- Section Question -->
    <section class="section-faq style-1" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3>Have any Question? </h3>

                    </div>

                    <div class="section-faq__main" data-aos="fade-up" data-aos-duration="800">
                        <div class="flat-tabs">
                            <div class="content-tab">
                                <div class="content-inner flat-accordion">
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">What is Blockchain? </h5>
                                        <p class="toggle-content">
                                            Blockchain is a distributed ledger which stores and records transactions between two parties on a peer-to-peer network.
                                            Blockchain technology is much more than finance and touches every industry from healthcare, real estate, the supply chain, and digital identification management!
                                        </p>
                                    </div>
                                    <div class="flat-toggle active">
                                        <h5 class="toggle-title active">What is Bitcoin? </h5>
                                        <p class="toggle-content">
                                            Bitcoin is a peer-to-peer electronic cash system which allows people to send and receive money across the world without a third-party intermediary such as a bank or government.
                                            Bitcoin is only one application of blockchain technology, similar to how email is one application of the internet.
                                        </p>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">I don't understand how it works. </h5>
                                        <p class="toggle-content">
                                            Most people don't understand how the internet works, but still use the technology daily. Blockchain is referred to as Web3 which represents the third generation of the internet. In the next few decades, blockchain will revolutionize all of finance and enterprise; governments, institutions, and companies are getting involved in the crypto business.
                                            My Crypto Advisor will simplify complex concepts and walk you through the basics you need to invest.
                                        </p>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">Who can invest in GreenBlock? </h5>
                                        <p class="toggle-content">Since it is a crowdfunding project, anyone has a chance to become an investor. Transparency and simplicity of investment making is the #1 priority.</p>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title active">How long will the ICO last? </h5>
                                        <p class="toggle-content">ICO will last till the Hard Cap is raised</p>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title"> When will token be available in the exchanges?</h5>
                                        <p class="toggle-content">The GBLC token will be available on the exchange when Hard Cap is raised</p>
                                    </div>
                                    <div class="flat-toggle">
                                        <h5 class="toggle-title">What kind of protocol will be presented? </h5>
                                        <p class="toggle-content">at the present, GreenBlock uses the Ethereum blockchain, however, intends to carry out its mainnet within 6 months period of ICO, whereupon, the ERC-20 tokens will be exchanged with our original tokens</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Question -->
    <!-- Section Documents -->
    <section class="documents style-2" id="document">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3>Documents</h3>
                        <p class="mt-12">Download the whitepaper and learn about ICO Token, the unique ICO Crypto approach <br> and the team/advisors.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-67 d-flex justify-content-center">
                <div class="col-xl-3 col-md-6">
                    <div class="document-box">
                        <div class="card-title">
                            <img src="~/assets/images/background/document-box.png" alt="ICOLand">
                            <a class="fs-16" href="#">WHITE PAPER</a>
                        </div>
                        <div class="content">
                            <a href="~/Content/GreenBlock_Whitepaper.pdf" class="title">Whitepaper</a>
                            <a href="~/Content/GreenBlock_Whitepaper.pdf" class="download"><span class="icon-Group"></span>PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Documents -->
    <!-- Section Contact -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block-text">
                        <h3>Contact Us</h3>
                        <p class="mt-12">Get in touch with the GreenBlock ICO team and we will get back to you and help as soon as we can! </p>
                    </div>
                    <ul class="contact__list">
                        <li>
                            <div class="icon"><span class="icon-message"></span></div>
                            <h5 class="fs-20">support@greenblock-ico.com</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="contact__form">
                        <form action="mailto:support@greenblock-ico.com" method="GET">
                            <input name="subject" placeholder="Full Name">
                            <input type="email" placeholder="Email">
                            <input type="tel" placeholder="Phone Number">
                            <textarea id="exampleFormControlTextarea1" rows="3" name="body" placeholder="Message"></textarea>

                            <button type="submit" class="btn-action"><span>SUBMIT YOUR MESSAGE</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Contact -->
    <!-- Footer -->
    <footer class="footer style-2">
        <div class="footer__bottom center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2022. All rights reserved by GreenBlock ICO</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="scroll-top"></a>

    <script src="~/assets/app/js/jquery.min.js"></script>
    <script src="~/assets/app/js/jquery.easing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="~/assets/app/js/app.js"></script>
    <script src="~/assets/app/js/count-down.js"></script>
    <script src="~/assets/app/js/aos.js"></script>
    <script src="~/assets/app/js/chart.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        let numberPercent = document.querySelectorAll('.countbar')
        let getPercent = Array.from(numberPercent)
        getPercent.map((items) => {
            let startCount = 0
            let progressBar = () => {
                startCount++
                items.style.width = `${startCount}%`
                if (startCount == items.dataset.percentnumber) {
                    clearInterval(stop)
                }
            }
            let stop = setInterval(() => {
                progressBar()
            }, 25)
        })

    </script>
    <script>
        const data1 = {
            labels: [
                'Token Sale',
                'Team & Advisors',
                'Bussines Dev',
                'Marketing & Reserve',
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [50, 25, 15, 10],
                backgroundColor: [
                    '#3D88FB',
                    '#5637C8',
                    '#C87B07',
                    '#A92535',
                ],
            }]
        };

        const config1 = {
            type: 'doughnut',
            data: data1,
            width: 240,
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: false // Hide legend
                },
                scales: {
                    y: {
                        display: false // Hide Y axis labels
                    },
                    x: {
                        display: false // Hide X axis labels
                    }
                }
            }
        };

        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            config1
        );
        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config1
        );
    </script>

    <script src="~/assets/app/js/mouse.js"></script>



    <script id="rendered-js">
        // Create Countdown
        var Countdown = {

            // Backbone-like structure
            $el: $('.countdown'),

            // Params
            countdown_interval: null,
            total_seconds: 0,

            // Initialize the countdown
            init: function () {

                // DOM
                this.$ = {
                    days: this.$el.find('.bloc-time.days .figure'),
                    hours: this.$el.find('.bloc-time.hours .figure'),
                    minutes: this.$el.find('.bloc-time.min .figure'),
                    seconds: this.$el.find('.bloc-time.sec .figure')
                };

                var countDownDate = new Date("june 25, 2020 15:37:25").getTime();
                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                //  Time calculations for days, hours, minutes and seconds
                var days_se = Math.floor(distance / (1000 * 60 * 60 * 24));

                var hours_se = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

                var minutes_se = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

                var seconds_se = Math.floor((distance % (1000 * 60)) / 1000);


                // Init countdown values
                this.values = {
                    days: days_se,
                    hours: hours_se,
                    minutes: minutes_se,
                    seconds: seconds_se
                };


                // Initialize total seconds
                this.total_seconds = this.values.hours * 60 * 60 + this.values.minutes * 60 + this.values.seconds;

                // Animate countdown to the end
                this.count();
            },

            count: function () {

                var that = this,
                    $days_1 = this.$.days.eq(0),
                    $days_2 = this.$.days.eq(1),
                    $days_3 = this.$.days.eq(2),
                    $hour_1 = this.$.hours.eq(0),
                    $hour_2 = this.$.hours.eq(1),
                    $min_1 = this.$.minutes.eq(0),
                    $min_2 = this.$.minutes.eq(1),
                    $sec_1 = this.$.seconds.eq(0),
                    $sec_2 = this.$.seconds.eq(1);

                console.log(this.$.days)


                this.countdown_interval = setInterval(function () {

                    if (that.total_seconds > 0) {

                        --that.values.seconds;

                        if (that.values.minutes >= 0 && that.values.seconds < 0) {

                            that.values.seconds = 59;
                            --that.values.minutes;
                        }

                        if (that.values.hours >= 0 && that.values.minutes < 0) {

                            that.values.minutes = 59;
                            --that.values.hours;
                        }


                        // Update DOM values
                        //Days
                        that.checkHour(that.values.days, $days_1, $days_2, $days_3);

                        // Hours
                        that.checkHour(that.values.hours, $hour_1, $hour_2);

                        // Minutes
                        that.checkHour(that.values.minutes, $min_1, $min_2);

                        // Seconds
                        that.checkHour(that.values.seconds, $sec_1, $sec_2);

                        --that.total_seconds;
                    } else {
                        clearInterval(that.countdown_interval);
                    }
                }, 1000);
            },

            animateFigure: function ($el, value) {

                var that = this,
                    $top = $el.find('.top'),
                    $bottom = $el.find('.bottom'),
                    $back_top = $el.find('.top-back'),
                    $back_bottom = $el.find('.bottom-back');

                // Before we begin, change the back value
                $back_top.find('span').html(value);

                // Also change the back bottom value
                $back_bottom.find('span').html(value);

                // Then animate
                TweenMax.to($top, 0.8, {
                    rotationX: '-180deg',
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    onComplete: function () {

                        $top.html(value);

                        $bottom.html(value);

                        TweenMax.set($top, { rotationX: 0 });
                    }
                });


                TweenMax.to($back_top, 0.8, {
                    rotationX: 0,
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    clearProps: 'all'
                });

            },

            checkHour: function (value, $el_1, $el_2, $el_3) {

                var val_1 = value.toString().charAt(0);
                var val_2 = value.toString().charAt(1);

                if ($el_3 != null)
                    var val_3 = value.toString().charAt(2);

                var fig_1_value = $el_1.find('.top').html();
                var fig_2_value = $el_2.find('.top').html();

                if ($el_3 != null)
                    var fig_3_value = $el_3.find('.top').html();

                if (value >= 10) {

                    // Animate only if the figure has changed
                    if (fig_1_value !== val_1) this.animateFigure($el_1, val_1);
                    if (fig_2_value !== val_2) this.animateFigure($el_2, val_2);

                    if ($el_3 != null)
                        if (fig_3_value !== val_3)
                            this.animateFigure($el_3, val_3);

                } else {

                    // If we are under 10, replace first figure with 0
                    if (fig_1_value !== '0') this.animateFigure($el_1, 0);
                    if (fig_2_value !== val_1) this.animateFigure($el_2, val_1);
                    if ($el_3 != null)
                        if (fig_3_value !== val_1) this.animateFigure($el_2, val_1);
                }
            }
        };


        // Let's go !
        Countdown.init();
        //# sourceURL=pen.js
    </script>
    <script>

        // Set the date we're counting down to
        var countDownDate = new Date("jan 25, 2022 23:59:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            $('.countdown-time-first').html(days);
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            $('.countdown-time-second').html(hours);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            $('.countdown-time-third').html(minutes);
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $('.countdown-time-last').html(seconds);
        }, 1000);
    </script>
</body>

<!-- Mirrored from www.gridnet.io/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jan 2020 09:46:58 GMT -->
</html>


