@{
    @model WebCoiner.GlobalDashboardList
    //decimal currentpercentage = 23;
    Console.WriteLine("STUFF");
    double txRaised = (double)Model.Raised;
    double raised = (txRaised / 85000000) * 100;
    long num = 0;
    long.TryParse(txRaised.ToString(), out num);
    String finalRaised = num.ToString("N0");

    double percentage = ((double)Model.Raised / 85000000) * 100;
    //155 = 10M
    double finalRaisedDo = Convert.ToDouble(finalRaised);
    Console.WriteLine("RAISED IS " + finalRaisedDo);
    if (finalRaisedDo > 0 && finalRaisedDo <= 500000)
    {
        percentage = 5;
    }
    else if (finalRaisedDo > 500000 && finalRaisedDo <= 1000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 1000000 && finalRaisedDo <= 1500000)
    {
        percentage = 15;
    }
    else if (finalRaisedDo > 1500000 && finalRaisedDo <= 2000000)
    {
        percentage = 20;
    }
    else if (finalRaisedDo > 2000000 && finalRaisedDo <= 2500000)
    {
        percentage = 25;
    }
    else if (finalRaisedDo > 2500000 && finalRaisedDo <= 3000000)
    {
        percentage = 30;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 35;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 40;
    }
    else if (finalRaisedDo > 3000000 && finalRaisedDo <= 3500000)
    {
        percentage = 45;
    }
    else if (finalRaisedDo > 3500000 && finalRaisedDo <= 4000000)
    {
        percentage = 50;
    }
    else if (finalRaisedDo > 4000000 && finalRaisedDo <= 5000000)
    {
        percentage = 80;
    }
    else if (finalRaisedDo > 5000000 && finalRaisedDo <= 6000000)
    {
        percentage = 85;
    }
    else if (finalRaisedDo > 6000000 && finalRaisedDo <= 7000000)
    {
        percentage = 100;
    }
    else if (finalRaisedDo > 7000000 && finalRaisedDo <= 8000000)
    {
        percentage = 120;
    }
    else if (finalRaisedDo > 8000000 && finalRaisedDo <= 9000000)
    {
        percentage = 140;
    }
    else if (finalRaisedDo > 9000000 && finalRaisedDo <= 10000000)
    {
        percentage = 155;
    }
    else if (finalRaisedDo > 10000000 && finalRaisedDo <= 15000000)
    {
        percentage = 160;
    }
    else if (finalRaisedDo > 15000000 && finalRaisedDo <= 20000000)
    {
        percentage = 165;
    }
    else if (finalRaisedDo > 20000000 && finalRaisedDo <= 25000000)
    {
        percentage = 170;
    }
    else if (finalRaisedDo > 25000000 && finalRaisedDo <= 30000000)
    {
        percentage = 175;
    }
    else if (finalRaisedDo > 30000000 && finalRaisedDo <= 35000000)
    {
        percentage = 195;
    }
    else if (finalRaisedDo > 35000000 && finalRaisedDo < 40000000)
    {
        percentage = 200;
    }
    else if (finalRaisedDo >= 4000000 && finalRaisedDo <= 45000000)
    {
        percentage = 230;
    }
    else if (finalRaisedDo > 45000000 && finalRaisedDo <= 50000000)
    {
        percentage = 10;
    }
    else if (finalRaisedDo > 50000000 && finalRaisedDo <= 55000000)
    {
        percentage = 250;
    }
    else if (finalRaisedDo > 55000000 && finalRaisedDo <= 60000000)
    {
        percentage = 270;
    }
    else if (finalRaisedDo > 60000000 && finalRaisedDo <= 65000000)
    {
        percentage = 280;
    }
    else if (finalRaisedDo > 65000000 && finalRaisedDo <= 70000000)
    {
        percentage = 300;
    }
    else if (finalRaisedDo > 70000000 && finalRaisedDo <= 75000000)
    {
        percentage = 320;
    }
    else if (finalRaisedDo > 75000000 && finalRaisedDo < 80000000)
    {
        percentage = 325;
    }
    else if (finalRaisedDo >= 80000000 && finalRaisedDo <= 85000000)
    {
        percentage = 350;
    }
    @* else if (finalRaisedDo > 85000000 && finalRaisedDo <= 95000000)
        {
            percentage = 350;
        }*@
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SynchSpace</title>
    <meta name="author" content="tempload" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/home/images/favicon.png" />

    <!-- Bootstrap & Plugins CSS -->
    <link href="~/assets/home/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/home/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/home/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/assets/home/css/dark.css?v=1.4.0" rel="stylesheet" type="text/css">
</head>
@*<script>
    if (location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
    }
</script>*@
<body>

    <div class="loading-wrapper">
        <div class="loading">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index" class="logo" style="max-width: 200px; display: flex">
                            <img src="~/images/logos/logo_new.png" class="light-logo" style="max-width: 200px;" alt="Arda ICO" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#what-is-ico">ABOUT US</a></li>
                            <li><a href="#token-sale">TOKEN SALE</a></li>
                            <li><a href="#roadmap">ROADMAP</a></li>
                            <li><a href="#faq">FAQ</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                            <li><a href="account/login" class="btn-nav-box">SIGN IN</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Wellcome Area Start ***** -->
    <section class="welcome-area bg-top-right" id="welcome-1">
        <div class="header-token">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
                        <h1>SynchSpace - Cryptocurrency without internet</h1>
                        <p>Storing your cryopto assets has never been so easy and secured!
                        Using the hard device with the eliminating internet connection, easily accessible from any place around the world</p>
                        <a href="~/Content/syncspace_wp.pdf" class="btn-secondary-box">Download Whitepaper</a>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
                        <div class="box">
                            <div class="token">
                                <h6 class="title">ICO SALE IS OPEN</h6>
                                <!-- ***** Countdown Start ***** -->
                                <ul class="countdown">
                                    <li>
                                        <span class="days">00</span>
                                        <p class="days_ref">days</p>
                                    </li>
                                    <li class="seperator"></li>
                                    <li>
                                        <span class="hours">00</span>
                                        <p class="hours_ref">hours</p>
                                    </li>
                                    <li class="seperator"></li>
                                    <li>
                                        <span class="minutes">00</span>
                                        <p class="minutes_ref">minutes</p>
                                    </li>
                                    <li class="seperator"></li>
                                    <li>
                                        <span class="seconds">00</span>
                                        <p class="seconds_ref">seconds</p>
                                    </li>
                                </ul>
                                <!-- ***** Countdown End ***** -->
                                <div class="token-payment">
                                    <span>Accepted Payment Methods</span>
                                    <div class="radios">
                                        <div class="form-radio">
                                            <input type="radio" id="ncheck1" name="payment2" checked="" />
                                            <label for="ncheck1">
                                                <i class="fa fa-bitcoin"></i>
                                            </label>
                                        </div>
                                        <div class="form-radio">
                                            <input type="radio" id="ncheck2" name="payment2" />
                                            <label for="ncheck2">
                                                <img src="~/assets/images/ether.svg"  style="height: 20px"/>
                                            </label>
                                        </div>
                                        <div class="form-radio">
                                            <input type="radio" id="ncheck3" name="payment2" />
                                            <label for="ncheck3">
                                                <i class="fa fa-cc-visa"></i>
                                            </label>
                                        </div>
                                        <div class="form-radio">
                                            <input type="radio" id="ncheck4" name="payment2" />
                                            <label for="ncheck4">
                                                <i class="fa fa-cc-mastercard"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <a href="account/login" class="btn-primary-line">PURCHASE TOKEN NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to">
            <a href="#what-is-ico">
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->
    <!-- ***** What is ICO Start ***** -->
    <section class="section bg-bottom" id="what-is-ico">
        <div class="container">
            <!-- ***** Features Items Start ***** -->
            <div class="row m-bottom-70">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="features-bordered" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
                        <div class="icon">
                            <img src="~/assets/home/images/icon/1.svg" alt="">
                        </div>
                        <h5 class="features-title">Energy Effective </h5>
                        <p>Minimizing and saving systemic and construction costs</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="features-bordered" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                        <div class="icon">
                            <img src="~/assets/home/images/icon/2.svg" alt="">
                        </div>
                        <h5 class="features-title">Advanced Security</h5>
                        <p>Information accumulated in the SSP ecosystem only can be the subject of demonstration in the blockchain system.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12"
                     data-scroll-reveal="enter bottom move 30px over 0.6s after 0.6s">
                    <div class="features-bordered">
                        <div class="icon">
                            <img src="~/assets/home/images/icon/3.svg" alt="">
                        </div>
                        <h5 class="features-title">Decentralized</h5>
                        <p>Terrestrial servers presented by our team offer the highest security and reliability level by eliminating the internet network.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Features Items End ***** -->
            <!-- ***** About Start ***** -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-heading">
                        <h2 class="section-title">A compelling value proposition.</h2>
                    </div>
                    <div class="left-text">
                        <p class="dark">
                            About Us
                        </p>
                        <p>
                            We unlock the value in communications infrastructure using our proprietary, multi-vendor technology platform. 8Leveraging these unique,
                            technology-driven networks creates value for service providers, to improve the quality and availability of services to end users.
                        </p>
                    </div>
                    <a href="~/Content/syncspace_wp.pdf" class="btn-secondary-line mobile-bottom-fix">Download Whitepaper</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <img src="~/assets/home/images/theme-1-about.svg" class="img-fluid float-right" alt="Arda ICO">
                </div>
            </div>
            <!-- ***** About End ***** -->
        </div>
    </section>
    <!-- ***** What is ICO End ***** -->
    <!-- ***** Token Sale Start ***** -->
    <section class="section gradient" id="token-sale">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading colored">
                        <h2 class="section-title">Token Sale</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text colored">
                        @*<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat. </p>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.3s">
                        <div class="row">
                            <!-- ***** Token Progress and Info Start ***** -->
                            <div class="col-lg-6 col-md-6 cols-m-12">
                                <!-- ***** Token Progress Start ***** -->
                                <div class="token-progress">
                                    <ul id="test">
                                        <li class="progress-active" data-progress="50%"></li>
                                        <li class="item complate" data-position="0%">
                                            <strong>0</strong>
                                            <span>Start</span>
                                        </li>
                                        <li class="item complate" data-position="17%">
                                            <strong>$15 M</strong>
                                            <span>Pre Sale</span>
                                        </li>
                                        <li class="item complate" data-position="52%">
                                            <strong>$45 M</strong>
                                            <span>Soft Cap</span>
                                        </li>
                                        <li class="item" data-position="99%">
                                            <strong>$85 M</strong>
                                            <span>Hard Cap</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ***** Token Progress End ***** -->
                                <!-- ***** Token Info Table Start ***** -->
                                <div class="token-info">
                                    <div class="item">
                                        <strong>Start</strong>
                                        <span>Started</span>
                                    </div>
                                    <div class="item">
                                        <strong>Token Supply</strong>
                                        <span>1.000.000.000</span>
                                    </div>
                                    <div class="item">
                                        <strong>Accepted Tokens</strong>
                                        <span>BTC, ETH</span>
                                    </div>
                                    <div class="item">
                                        <strong>Project Protocol</strong>
                                        <span>ETH, ETH - ERC20</span>
                                    </div>
                                </div>
                                <!-- ***** Token Info Table End ***** -->
                            </div>
                            <!-- ***** Token Progress and Info End ***** -->
                            <!-- ***** Token Countdown and Payment Start ***** -->
                            <div class="col-lg-6 col-md-6 cols-m-12">
                                <div class="token">
                                    <h6 class="title">ICO SALE IS OPEN</h6>
                                    <!-- ***** Countdown Start ***** -->
                                    <ul class="countdown">
                                        <li>
                                            <span class="days">00</span>
                                            <p class="days_ref">days</p>
                                        </li>
                                        <li class="seperator"></li>
                                        <li>
                                            <span class="hours">00</span>
                                            <p class="hours_ref">hours</p>
                                        </li>
                                        <li class="seperator"></li>
                                        <li>
                                            <span class="minutes">00</span>
                                            <p class="minutes_ref">minutes</p>
                                        </li>
                                        <li class="seperator"></li>
                                        <li>
                                            <span class="seconds">00</span>
                                            <p class="seconds_ref">seconds</p>
                                        </li>
                                    </ul>
                                    <!-- ***** Countdown End ***** -->
                                    <div class="token-payment">
                                        <span>Select Payment Method</span>
                                        <div class="radios">
                                            <div class="form-radio">
                                                <input type="radio" id="ncheck1" name="payment2" checked="" />
                                                <label for="ncheck1">
                                                    <i class="fa fa-bitcoin"></i>
                                                </label>
                                            </div>
                                            <div class="form-radio">
                                                <input type="radio" id="ncheck2" name="payment2" />
                                                <label for="ncheck2">
                                                    <img src="~/assets/images/ether.svg" style="height: 20px"/>
                                                </label>
                                            </div>
                                            <div class="form-radio">
                                                <input type="radio" id="ncheck3" name="payment2" />
                                                <label for="ncheck3">
                                                    <i class="fa fa-cc-visa"></i>
                                                </label>
                                            </div>
                                            <div class="form-radio">
                                                <input type="radio" id="ncheck4" name="payment2" />
                                                <label for="ncheck4">
                                                    <i class="fa fa-cc-mastercard"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <a href="account/login" class="btn-primary-line">PURCHASE TOKEN NOW</a>
                                    </div>
                                </div>
                            </div>
                            <!-- ***** Token Countdown and Payment End ***** -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Token Sale End ***** -->
    <!-- ***** Roadmap Start ***** -->
    <section class="section" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Roadmap</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="roadmap-modern-wrapper owl-carousel owl-theme">
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status complate"></div>
                                <h6 class="date">Q1 2021</h6>
                            </div>
                            <div class="text">
                                <p>Ethereum – Bitcoin Blockchain testnet deployment</p>
                            </div>
                        </div>
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status complate"></div>
                                <h6 class="date">Q2 2021</h6>
                            </div>
                            <div class="text">
                                <p>Ethereum – Bitcoin Blockchain mainnet inner development, supporting ETH & ERC20 tokens</p>
                            </div>
                        </div>
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status complate"></div>
                                <h6 class="date">Q3 2021</h6>
                            </div>
                            <div class="text">
                                <p>The team started working on the group of satellite systems with mathematical experts,
                                engineers, and analysts from different countries to evolve algorithms & terrestrials </p>
                            </div>
                        </div>
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status complate"></div>
                                <h6 class="date">Q4 2021 </h6>
                            </div>
                            <div class="text">
                                <p>A couple of major Blockchain integrated companies are hired to develop SyncSpace ICO</p>
                            </div>
                        </div>
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status complate"></div>
                                <h6 class="date">Q1 2022</h6>
                            </div>
                            <div class="text">
                                <p>SyncSpace ICO gets integrated with Blockchain and terrestrial servers.</p>
                            </div>
                        </div>
                        <div class="roadmap-modern">
                            <div class="header">
                                <div class="status"></div>
                                <h6 class="date">Q2 2022</h6>
                            </div>
                            <div class="text">
                                <p>The platform goes public</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Roadmap End ***** -->
    <!-- ***** FAQ Start ***** -->
    <section class="section bg-top" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h1 class="section-title">FAQ</h1>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                    <span class="badge">1</span>What is cryptocurrency?
                                </button>
                            </h2>
                            <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                    <span class="badge">2</span> Which cryptocurrency is best to buy today?
                                </button>
                            </h2>
                            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                    <span class="badge">3</span> How about day trading crypto?
                                </button>
                            </h2>
                            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        While profits are possible trading cryptocurrencies, so are losses. My first year involved me spending hundreds of hours trading Bitcoin with a result of losing over $5,000 with nothing to show for it. Simply trading digital currencies is very similar to gambling because no one really knows what is going to happen next although anyone can guess! While I was lucky to do nothing expect lose money when I started, the worst thing that can happen
                                        is to get lucky right away and get a big ego about what an amazing cryptocurrency trader we are.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                    <span class="badge">4</span> When to sell a cryptocurrency?
                                </button>
                            </h2>
                            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        Before Steem I was all in an another altcoin and really excited about it. When I first bought the price was low and made payments to me every week just for holding it. As I tried to participate in the community over the next several months, I was consistently met with a mix of excitement and hostility. When I began talking openly about this, the negative emotions won over in the community and in me.
                                        Originally I had invested and been happy to hold no matter what the price which quickly went up after I bought it.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                    <span class="badge">5</span> How does one acquire bitcoins?
                                </button>
                            </h2>
                            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                    <span class="badge">6</span> Can I make money with Bitcoin?
                                </button>
                            </h2>
                            <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> You should never expect to get rich with Bitcoin or any emerging technology. It is always important to be wary of any thing that sounds too good to be true or disobeys basic </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                                    <span class="badge">7</span> What happens when bitcoins are lost?
                                </button>
                            </h2>
                            <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> While profits are possible trading cryptocurrencies, so are losses. My first year involved me spending hundreds of hours trading Bitcoin with a result of losing over $5,000 with nothing to show for it. Simply trading digital currencies is very similar to gambling because no one really knows what is going to happen next although anyone can guess! While I was lucky to do nothing expect lose money when I started, the worst thing that can happen is to get lucky right away and get a big ego about what an amazing cryptocurrency trader we are. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                                    <span class="badge">8</span> Where is the invest my bitcoin?
                                </button>
                            </h2>
                            <div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="heading-8" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>  Before Steem I was all in an another altcoin and really excited about it.
                                    When I first bought the price was low and made payments to me every week just for holding it. 
                                    As I tried to participate in the community over the next several months,
                                    I was consistently met with a mix of excitement and hostility. When I began talking openly about this,
                                    the negative emotions won over in the community and in me. Originally I had invested and been happy to hold no matter what the price which quickly went up after I bought it.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** FAQ End ***** -->
    <!-- ***** Contact & Footer Start ***** -->
    <footer id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <h3 class="section-title">Say Something</h3>
                            <div class="form-element">
                                <input type="text" placeholder="Name, surname">
                            </div>
                            <div class="form-element">
                                <input type="email" placeholder="E-Mail">
                            </div>
                            <div class="form-element">
                                <textarea placeholder="Message"></textarea>
                            </div>
                            <div class="form-element">
                                <button class="btn-secondary-box">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="copyright">©2022  Copyright -All rights reserved by SyncSpace ICO</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Contact & Footer End ***** -->
    <!-- jQuery -->
    <script src="~/assets/home/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/home/js/popper.js"></script>
    <script src="~/assets/home/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/assets/home/js/particles.min.js"></script>
    <script src="~/assets/home/js/scrollreveal.min.js"></script>
    <script src="~/assets/home/js/jquery.downCount.js"></script>
    <script src="~/assets/home/js/parallax.min.js"></script>
    <script src="~/assets/home/js/owl.carousel.min.js"></script>

    <!-- Global Init -->
    <script src="~/assets/home/js/particle-dark.js"></script>
    <script src="~/assets/home/js/custom.js"></script>



    <script id="rendered-js">
        // Create Countdown
        var Countdown = {

            // Backbone-like structure
            $el: $('.countdown'),

            // Params
            countdown_interval: null,
            total_seconds: 0,

            // Initialize the countdown
            init: function () {

                // DOM
                this.$ = {
                    days: this.$el.find('.bloc-time.days .figure'),
                    hours: this.$el.find('.bloc-time.hours .figure'),
                    minutes: this.$el.find('.bloc-time.min .figure'),
                    seconds: this.$el.find('.bloc-time.sec .figure')
                };

                var countDownDate = new Date("june 25, 2020 15:37:25").getTime();
                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                //  Time calculations for days, hours, minutes and seconds
                var days_se = Math.floor(distance / (1000 * 60 * 60 * 24));

                var hours_se = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

                var minutes_se = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

                var seconds_se = Math.floor((distance % (1000 * 60)) / 1000);


                // Init countdown values
                this.values = {
                    days: days_se,
                    hours: hours_se,
                    minutes: minutes_se,
                    seconds: seconds_se
                };


                // Initialize total seconds
                this.total_seconds = this.values.hours * 60 * 60 + this.values.minutes * 60 + this.values.seconds;

                // Animate countdown to the end
                this.count();
            },

            count: function () {

                var that = this,
                    $days_1 = this.$.days.eq(0),
                    $days_2 = this.$.days.eq(1),
                    $days_3 = this.$.days.eq(2),
                    $hour_1 = this.$.hours.eq(0),
                    $hour_2 = this.$.hours.eq(1),
                    $min_1 = this.$.minutes.eq(0),
                    $min_2 = this.$.minutes.eq(1),
                    $sec_1 = this.$.seconds.eq(0),
                    $sec_2 = this.$.seconds.eq(1);

                console.log(this.$.days)


                this.countdown_interval = setInterval(function () {

                    if (that.total_seconds > 0) {

                        --that.values.seconds;

                        if (that.values.minutes >= 0 && that.values.seconds < 0) {

                            that.values.seconds = 59;
                            --that.values.minutes;
                        }

                        if (that.values.hours >= 0 && that.values.minutes < 0) {

                            that.values.minutes = 59;
                            --that.values.hours;
                        }


                        // Update DOM values
                        //Days
                        that.checkHour(that.values.days, $days_1, $days_2, $days_3);

                        // Hours
                        that.checkHour(that.values.hours, $hour_1, $hour_2);

                        // Minutes
                        that.checkHour(that.values.minutes, $min_1, $min_2);

                        // Seconds
                        that.checkHour(that.values.seconds, $sec_1, $sec_2);

                        --that.total_seconds;
                    } else {
                        clearInterval(that.countdown_interval);
                    }
                }, 1000);
            },

            animateFigure: function ($el, value) {

                var that = this,
                    $top = $el.find('.top'),
                    $bottom = $el.find('.bottom'),
                    $back_top = $el.find('.top-back'),
                    $back_bottom = $el.find('.bottom-back');

                // Before we begin, change the back value
                $back_top.find('span').html(value);

                // Also change the back bottom value
                $back_bottom.find('span').html(value);

                // Then animate
                TweenMax.to($top, 0.8, {
                    rotationX: '-180deg',
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    onComplete: function () {

                        $top.html(value);

                        $bottom.html(value);

                        TweenMax.set($top, { rotationX: 0 });
                    }
                });


                TweenMax.to($back_top, 0.8, {
                    rotationX: 0,
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    clearProps: 'all'
                });

            },

            checkHour: function (value, $el_1, $el_2, $el_3) {

                var val_1 = value.toString().charAt(0);
                var val_2 = value.toString().charAt(1);

                if ($el_3 != null)
                    var val_3 = value.toString().charAt(2);

                var fig_1_value = $el_1.find('.top').html();
                var fig_2_value = $el_2.find('.top').html();

                if ($el_3 != null)
                    var fig_3_value = $el_3.find('.top').html();

                if (value >= 10) {

                    // Animate only if the figure has changed
                    if (fig_1_value !== val_1) this.animateFigure($el_1, val_1);
                    if (fig_2_value !== val_2) this.animateFigure($el_2, val_2);

                    if ($el_3 != null)
                        if (fig_3_value !== val_3)
                            this.animateFigure($el_3, val_3);

                } else {

                    // If we are under 10, replace first figure with 0
                    if (fig_1_value !== '0') this.animateFigure($el_1, 0);
                    if (fig_2_value !== val_1) this.animateFigure($el_2, val_1);
                    if ($el_3 != null)
                        if (fig_3_value !== val_1) this.animateFigure($el_2, val_1);
                }
            }
        };


        // Let's go !
        Countdown.init();
        //# sourceURL=pen.js
    </script>
    <script>

        // Set the date we're counting down to
        var countDownDate = new Date("jan 25, 2022 23:59:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            $('.countdown-time-first').html(days);
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            $('.countdown-time-second').html(hours);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            $('.countdown-time-third').html(minutes);
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $('.countdown-time-last').html(seconds);
        }, 1000);
    </script>
</body>

<!-- Mirrored from www.gridnet.io/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jan 2020 09:46:58 GMT -->
</html>


