@{
    @model WebCoiner.GlobalDashboardList
    //decimal currentpercentage = 23;
    Console.WriteLine("STUFF");
    double txRaised = (double)Model.Raised;
    double raised = (txRaised / 110000000) * 100;
    long num = 0;
    long.TryParse(txRaised.ToString(), out num);
    String finalRaised = num.ToString("N0");

    double percentage = ((double)Model.Raised / 110000000) * 100;
    //155 = 10M
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="~/assets/home/images/favicon.png">
    <!-- Site Title  -->
    <title>Gentian Pro | ICO Crypto - ICO Landing Page &amp; Multi-Purpose Cryptocurrency HTML Template</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="~/assets/home/assets/css/vendor.bundle.css?ver=200">
    <link rel="stylesheet" href="~/assets/home/assets/css/style.css?ver=200">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="~/assets/home/assets/css/theme.css?ver=200">
</head>
<body class="nk-body body-wider bg-light mode-onepage">
    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
            <!-- Header  -->
            <div class="header-main">
                <div class="header-container container">
                    <div class="header-wrap">
                        <!-- Logo  -->
                        <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                            <a href="./" class="logo-link">
                                <img class="logo-dark" src="~/assets/home/images/logo.png" srcset="~/assets/home/images/logo2x.png 2x" alt="logo">
                                <img class="logo-light" src="~/assets/home/images/logo-full-white.png" srcset="~/assets/home/images/logo-full-white2x.png 2x" alt="logo">
                            </a>
                        </div>
                        <!-- Menu Toogle  -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>
                        <!-- Menu  -->
                        <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                            <nav class="header-menu" id="header-menu">
                                <ul class="menu">
                                    <li class="menu-item"><a class="menu-link nav-link" href="#header">Home</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#about">About</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#features">Features</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#tokensale">Token Sale</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#roadmap">Roadmap</a></li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link menu-toggle" href="#faq">FAQ</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#contact">Contact</a></li>
                                </ul>
                                <ul class="menu-btns">
                                    <li><a href="account/login" @*data-bs-toggle="modal" data-bs-target="#login-popup"*@ class="btn btn-md btn-auto btn-grad no-change"><span>Login</span></a></li>
                                </ul>
                            </nav>
                        </div><!-- .header-navbar  -->
                    </div>
                </div>
            </div><!-- .header-main  -->
            <!-- Banner  -->
            <div class="header-banner bg-theme-grad">
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single banner-gap-b2">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 order-lg-last">
                                        <div class="banner-gfx banner-gfx-re-s1 animated" data-animate="fadeInUp" data-delay=".9">
                                            <img src="~/assets/home/images/header/gfx-a.png" alt="header">
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-7 col-sm-10 text-center text-lg-start">
                                        <div class="banner-caption cpn tc-light">
                                            <div class="cpn-head">
                                                <h1 class="title animated" data-animate="fadeInUp" data-delay="1">World’s First Ecosystem that <br class="d-none d-md-block"> Scaling Decentralized Applications</h1>
                                            </div>
                                            <div class="cpn-text">
                                                <p class="animated" data-animate="fadeInUp" data-delay="1.1">Our revolutionary blockchain service is designed to create your own blockchain ecosystem, secure digital assets and access to funding all over the world.</p>
                                            </div>
                                            <div class="cpn-action">
                                                <div class="cpn-btns animated" data-animate="fadeInUp" data-delay="1.2">
                                                    <a class="btn btn-grad" href="#">Register &amp; Buy Token Now</a>
                                                </div>
                                                <ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.3">
                                                    <li><a class="link" href="#"><em class="link-icon fas fa-file-alt"></em><span>White Paper</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-a shape-a"></div>
                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg"></div>
            </div>
            <!-- .header-banner  -->
        </header>
        <main class="nk-pages">
            <!-- // -->
            <section class="section bg-light section-about" id="about">
                <div class="container">
                    <!-- Block  -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center pdb-x">
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">About ICO Crypto</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".2"><strong>ICO Crypto is #1 best selling ICO Landing</strong> page, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">ICO Crypto sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                    </div><!-- .block  -->
                    <!-- Section Head  -->
                    <div class="section-head">
                        <h2 class="title title-lg animated" data-animate="fadeInUp" data-delay=".6">Key features of ICO Crypto</h2>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block nk-block-features mgb-m30">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-paricle-alt"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm">Create a secure decentralize</h5>
                                        <p>Tempore, cum soluta nobis est eligendi optiocum que nihil maxime placeat facere possimus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".8">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-donught"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm">Solving small business problems</h5>
                                        <p>Placeat facere possimus, omnis voluptas assum enda est, omnis dolor repellendus. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature animated" data-animate="fadeInUp" data-delay=".9">
                                    <div class="feature-icon dot">
                                        <em class="icon ikon ikon-document"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title title-sm">Personal data must be isolated</h5>
                                        <p>Nam libero tempore, cum soluta nobis est optio cumque nihil impedit quo minus id quod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block  -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-features bg-white" id="features">
                <div class="container">
                    <!-- Block  -->
                    <div class="nk-block nk-block-features-s2">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-lg-5">
                                <div class="gfx py-4 animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="~/assets/home/images/gfx/gfx-a.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <!-- Section Head  -->
                                <div class="section-head">
                                    <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Why Choose ICO Crypto?</h2>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">We believe in a new world, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                                </div><!-- .section-head  -->
                                <div class="features-list me-4 mgb-m30">
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-shiled-alt"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Secured User Data</h5>
                                            <p>We protect user data and emo enim ipsam voluptatem quia voluptas sitaut odit aut fugit, sed quia conseq ur magni dolores aspernatur.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-user"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Most Credibility</h5>
                                            <p>Most authentically sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum dolore eu fugiat ipsum dolor sit amet.</p>
                                        </div>
                                    </div>
                                    <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon dot">
                                            <em class="icon ikon ikon-data-server"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-sm">Big Data Insights</h5>
                                            <p>You can trade &amp; invest toekn oluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat magni dolores.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-problem bg-light" id="problem">
                <div class="container">
                    <!-- Section Head  -->
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Problem and Challenge</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">We are creating modular software, apps blockchain based accusamus et eiusto odio dignimus qui blan ditiis praes entium volup tatun.</p>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block nk-block-problems tc-light">
                        <div class="row g-0 align-items-center">
                            <div class="col-lg-6">
                                <div class="feature boxed boxed-lg bg-theme no-mg split-lg-left split-left animated" data-animate="fadeInUp" data-delay=".3">
                                    <h4 class="title title-md">Automation Development</h4>
                                    <p>The automation development provides rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                                    <ul class="list list-dot">
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                        <li>Wende omnis iste natus error sit volupt.</li>
                                        <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Exercitation ullamco laboris nisi ut consequ.</li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="feature-group bg-theme-alt split-right split-lg animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature boxed bg-white-10">
                                        <div class="feature-text">
                                            <h4 class="title title-md">High transfer fees</h4>
                                            <p>Each year over than 200$ bilion fees rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                                        </div>
                                    </div>
                                    <div class="feature boxed bg-white-2">
                                        <div class="feature-text">
                                            <h4 class="title title-md">Scaling and Absolete Tool</h4>
                                            <p>Scalling is biggest problem that comes rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspern odit aut fugit illum qui dolorem eum.</p>
                                        </div>
                                    </div>
                                    <div class="feature boxed bg-black-10">
                                        <div class="feature-text">
                                            <h4 class="title title-md">Secure Networks &amp; Flexibility</h4>
                                            <p>Security is most concern for long rem aperiam, et quasi arch itecto beatae vitae aspernatur aut odit aut fugit molestiae illum qui dolorem ullamco laboris nisi volupt natus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-solution bg-light pt-0" id="solution">
                <div class="container">
                    <!-- Section Head  -->
                    <div class="section-head text-center wide-auto-sm">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Solutions</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">We are creating modular software, apps blockchain based accusamus et eiusto odio dignimus qui blan ditiis praes entium volup tatun.</p>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="row gutter-vr-40px justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-cloud"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Global Single-Platform:</h4>
                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid eos qui ratione</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-safety"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Be Safe and Secure:</h4>
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia agni dolores eos qui ratione voluptatem sequi</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-cash"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Decentralize Payment Systems</h4>
                                        <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris fugiat nulla sed do</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-md-10">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".6">
                                    <div class="feature-icon feature-icon-lg">
                                        <em class="icon icon-lg ikon ikon-globe"></em>
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title title-md title-dark">Blockchain Based DevOps Marketplace</h4>
                                        <p>Ut enim ad minim veniam, quis nostrud ullamco laboris fugiat nulla sed do eiusmod. Empor incididunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <!-- // -->
            <!-- // -->
            <section class="bg-theme bg-pattern-dots" id="tokensale">
                <div class="section section-tokensale tc-light">
                    <div class="container">
                        <!-- Section Head  -->
                        <div class="section-head text-center wide-auto">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">ICOX Tokens</h2>
                        </div><!-- .section-head  -->
                        <!-- Block  -->
                        <div class="nk-block nk-block-token mgb-m30">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="token-info bg-theme animated" data-animate="fadeInUp" data-delay=".3">
                                        <h4 class="title title-md mb-2 text-sm-center">Sales Information</h4>
                                        <table class="table table-s1 table-token">
                                            <tbody>
                                                <tr>
                                                    <td class="table-head">Public Sale Starts</td>
                                                    <td class="table-des">15th Nov 2022 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Public Sale Ends</td>
                                                    <td class="table-des">14th Dec 2022 12:00 GMT</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Total Token Supply</td>
                                                    <td class="table-des">500,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Tokens Allocated for ICO</td>
                                                    <td class="table-des">350,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Hard Cap</td>
                                                    <td class="table-des">$4.75m</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Soft Cap</td>
                                                    <td class="table-des">$1.75m</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Token Value</td>
                                                    <td class="table-des">1 ETH = 1,000 ICOX</td>
                                                </tr>
                                                <tr>
                                                    <td class="table-head">Accepted</td>
                                                    <td class="table-des">ETH, BTC</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-5">
                                    <div class="animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="token-status bg-theme">
                                            <h4 class="title title-md">Token Sale Stages</h4>
                                            <div class="token-countdown countdown" data-date="2023/11/11"></div>
                                            <div class="progress-wrap progress-wrap-point">
                                                <span class="progress-info">Raised so far <span>$1,830,985</span></span>
                                                <div class="progress-bar">
                                                    <div class="progress-percent bg-grad" data-percent="30"></div>
                                                    <div class="progress-point progress-point-1">Soft Cap <span>$1.75m</span></div>
                                                    <div class="progress-point progress-point-2">Hard Cap <span>$4.75m</span></div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-grad">Register &amp; Buy Token Now</a>
                                        </div>
                                        <div class="bonus bg-theme">

                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block  -->
                    </div>
                </div><!-- .section-tokensale -->
                <div class="section-tokendes">
                    <div class="container">
                        <!-- Block  -->
                        <div class="nk-block nk-block-alocation mgb-m30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="token-alocate-item animated" data-animate="fadeInUp" data-delay=".1">
                                        <div class="token-alocate-graph">
                                            <span>Token <br> Allocation</span>
                                            <canvas class="chart-canvas" id="token-alocate"></canvas>
                                        </div>
                                        <ul class="chart-data" data-canvas="token-alocate" data-canvas-type="doughnut">
                                            <li data-color="#223fa8" data-title="Token Sale Program" data-amount="60"></li>
                                            <li data-color="#8fa0df" data-title="Reserve Fund" data-amount="8"></li>
                                            <li data-color="#4aa0f6" data-title="Team and Founders" data-amount="15"></li>
                                            <li data-color="#6ad9ac" data-title="Board Advisors" data-amount="4"></li>
                                            <li data-color="#4d6fe9" data-title="Ecosystem Development" data-amount="7"></li>
                                            <li data-color="#15216d" data-title="Marketing and Bounty" data-amount="6"></li>
                                        </ul>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-6">
                                    <div class="token-alocate-item animated" data-animate="fadeInUp" data-delay=".2">
                                        <div class="token-alocate-graph">
                                            <span>Funds <br> Allocation</span>
                                            <canvas class="chart-canvas" id="fund-alocate"></canvas>
                                        </div>
                                        <ul class="chart-data" data-canvas="fund-alocate" data-canvas-type="doughnut">
                                            <li data-color="#15216d" data-title="Engineering and Development" data-amount="40"></li>
                                            <li data-color="#4aa0f6" data-title="Business Development" data-amount="12"></li>
                                            <li data-color="#223fa8" data-title="Marketing &amp; Promotion" data-amount="20"></li>
                                            <li data-color="#72a3f4" data-title="Legal &amp; Regulation" data-amount="10"></li>
                                            <li data-color="#6ad9ac" data-title="Operational &amp; Administration" data-amount="8"></li>
                                            <li data-color="#8fa0df" data-title="Contingency" data-amount="4"></li>
                                            <li data-color="#4d6fe9" data-title="Partners" data-amount="6"></li>
                                        </ul>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block  -->
                    </div>
                    <div class="nk-ovm ovm-bottom ovm-h-70 bg-light"></div><!-- .nk-ovm -->
                </div><!-- .section-tokendes -->
            </section>
            <!-- // -->
            <section class="section bg-light section-document" id="documents">
                <div class="container">
                    <!-- Section Head  -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">ICOX Tokens</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Our Tokens with a realworld use case created on the blockchain network.</p>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block nk-block-document">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card card-lg animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="nk-block-img px-4 pb-4 pb-md-0">
                                                <img src="~/assets/home/images/doc-a.png" alt="doc">
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="nk-block-text">
                                                <h4 class="title title-md">Read the Whitepaper</h4>
                                                <p>Our main goal helps rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit molestiae illum quim eum.</p>
                                                <ul class="btn-grp gutter-30px gutter-vr-20px">
                                                    <li><a href="#" class="btn btn-grad">Download WHite paper</a></li>
                                                    <li><a href="#" class="link"><em class="link-icon fas fa-file-alt"></em> <span>Download Two Pager</span></a></li>
                                                </ul>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .box -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <section class="section section-wallet-bottom bg-white pdt-0" id="wallet">
                <div class="container">
                    <!-- Block  -->
                    <div class="nk-block nk-block-text-grp mgb-m30">
                        <h6 class="title title-xs tc-primary pdb-s animated" data-animate="fadeInUp" data-delay=".4">Why Use Tokenpay Wallets?</h6>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                                    <h4 class="title title-md">Safe &amp; Secure</h4>
                                    <p>Tempore, cum soluta nobis est eligendi optio cumque nihil id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor impedit quo minus repellendus. </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                                    <h4 class="title title-md">Universal and Interactive</h4>
                                    <p>Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".7">
                                    <h4 class="title title-md">Send and Receive</h4>
                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor. </p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <section class="section section-roadmap bg-white" id="roadmap">
                <div class="container">
                    <!-- Section Head  -->
                    <div class="section-head text-center wide-auto">
                        <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">The roadmap to success</h6>
                        <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">What are our major goals?</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Our market strategy will prioritise blockchain technology rollout to utilities based on their transformation. View our roadmap to see how exactly we are making that happen. </p>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block nk-block-roadmap">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="roadmap-wrap">
                                    <div class="roadmap-line"></div>
                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="roadmap-year">2022</div>
                                    </div>
                                    <div class="roadmap roadmap-right roadmap-finished animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">March 2022</span>
                                                <span class="roadmap-title">Concept development</span>
                                            </div>
                                            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left roadmap-finished animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q3 &amp; Q4 2022</span>
                                                <span class="roadmap-title">Website and Whitepaper</span>
                                            </div>
                                            <ul class="list list-dot">
                                                <li>MVP of wallet prototype released</li>
                                                <li>Pre-Sale ICO Starts</li>
                                                <li>Redesign of website goes live</li>
                                                <li>Version 2 of Whitepaper released</li>
                                                <li>Version 3 of Onepager released</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="roadmap-year">2022</div>
                                    </div>
                                    <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q1 2022</span>
                                                <span class="roadmap-title">Public Token Sale Begins</span>
                                            </div>
                                            <p>Public ICO launch and crowd-sale starts - 5th Januray &amp; Token distribution will commence - 2nd March.</p>
                                        </div>
                                    </div>
                                    <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="roadmap-step">
                                            <div class="roadmap-head">
                                                <span class="roadmap-time">Q2 2022</span>
                                                <span class="roadmap-title">Beta App User Testing</span>
                                            </div>
                                            <p>Release our first apps for beta testing to our members comunity</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                            <a href="#" class="btn btn-grad">View Full Roadmap</a>
                        </div>
                    </div>
                    <!-- Block  -->
                </div>
            </section>
            <section class="section section-faq bg-white" id="faq">
                <div class="container">
                    <!-- Section Head  -->
                    <div class="section-head text-center wide-auto">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                    </div><!-- .section-head  -->
                    <!-- Block  -->
                    <div class="nk-block block-faq">
                        <div class="row">
                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="general-questions">
                                        <div class="accordion accordion-s1 accordion-faq" id="faq-1">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-1-1">What is ICO Crypto? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-1" class="collapse show" data-bs-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-2">What cryptocurrencies can I use to purchase? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-2" class="collapse" data-bs-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-3">How can I participate in the ICO Token sale? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-3" class="collapse" data-bs-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-4">How do I benefit from the ICO Token? <span class="accordion-icon"></span></h5>
                                                <div id="faq-1-4" class="collapse" data-bs-parent="#faq-1">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="ico-questions">
                                        <div class="accordion accordion-s1 accordion-faq" id="faq-2">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-2-1">Which of us ever undertakes laborious?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-1" class="collapse show" data-bs-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <div class="accordion-content">
                                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-2">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-2" class="collapse" data-bs-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-3">Their separate existence is a myth?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-3" class="collapse" data-bs-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                                <div id="faq-2-4" class="collapse" data-bs-parent="#faq-2">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tokens-sales">
                                        <div class="accordion accordion-s1 accordion-faq" id="faq-3">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-3-1">When she reached the first hills?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-1" class="collapse show" data-bs-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-2">Big Oxmox advised her not to do?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-2" class="collapse" data-bs-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-3" class="collapse" data-bs-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-4">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                                <div id="faq-3-4" class="collapse" data-bs-parent="#faq-3">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="clients-releted">
                                        <div class="accordion accordion-s1 accordion-faq" id="faq-4">
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                                <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-4-1">How do I benefit from the ICO Token?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-1" class="collapse show" data-bs-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-2" class="collapse" data-bs-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-3">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-3" class="collapse" data-bs-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                                <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-4">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                                <div id="faq-4-4" class="collapse" data-bs-parent="#faq-4">
                                                    <div class="accordion-content">
                                                        <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <!-- // -->
            <section class="section section-m section-partners bg-light" id="partners">

            </section>
        </main>
        <!-- Footer -->
        <footer class="nk-footer bg-theme-grad">
            <section class="section no-pdy overflow-hidden section-contact bg-transparent" id="contact">
                <div class="container">
                    <!-- Block  -->
                    <div class="nk-block block-contact animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="row justify-content-center g-0">
                            <div class="col-lg-6">
                                <div class="contact-wrap split split-left split-lg-left bg-white">
                                    <h5 class="title title-md">Contact Us</h5>
                                    <form class="nk-form-submit" action="~/assets/home/form/contact.php" method="post">
                                        <div class="field-item">
                                            <input name="contact-name" type="text" class="input-line required">
                                            <label class="field-label field-label-line">Your Name</label>
                                        </div>
                                        <div class="field-item">
                                            <input name="contact-email" type="email" class="input-line required email">
                                            <label class="field-label field-label-line">Your Email</label>
                                        </div>
                                        <div class="field-item">
                                            <textarea name="contact-message" class="input-line input-textarea required"></textarea>
                                            <label class="field-label field-label-line">Your Message</label>
                                        </div>
                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-grad">Submit</button>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-results"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4">
                                <div class="contact-wrap split split-right split-lg-right bg-genitian bg-theme tc-light">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <ul class="contact-list">
                                            <li>
                                                <div class="contact-text">
                                                    <h4>Get in touch with our team
                                                    and we will get back ti you as soon as we can
                                                    </h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
                <div class="nk-ovm ovm-top ovm-h-60 bg-light"></div><!-- .nk-ovm -->
            </section>
            <!-- // -->
            <section class="section section-footer tc-light bg-transparent">
                <div class="container">
                    <!-- Block  -->
                    <div class="nk-block block-footer mgb-m30">
                        <div class="row">
                            <div class="col-lg-12 order-lg-first" style="display: flex; align-items: center; justify-content: center">
                                <div class="wgs wgs-text animated" data-animate="fadeInUp" data-delay=".1">
                                    <div class="wgs-body">
                                        <a href="./" class="wgs-logo">
                                            <img src="~/assets/home/images/logo-full-white.png" srcset="~/assets/home/images/logo-full-white2x.png 2x" alt="logo">
                                        </a>
                                        <p>Copyright &copy; 2022 All rights reserved.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block  -->
                </div>
            </section>
            <div class="nk-ovm shape-b"></div>
        </footer>
    </div>
    <!-- Modals -->
    <!-- This is used in azalea, azalea-woa, gentian, gentian-woa, gentian-pro, gentian-pro-woa.html pages  -->
    <!-- Modal  -->
    <div class="modal fade" id="login-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Sign in <small class="tc-default">with your ICO Account</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="password" class="input-bordered" placeholder="Password">
                                </div>
                            </div>
                            <div class="field-item d-flex justify-content-between align-items-center">
                                <div class="field-item pb-0">
                                    <input class="input-checkbox" id="remember-me-100" type="checkbox">
                                    <label for="remember-me-100">Remember Me</label>
                                </div>
                                <div class="forget-link fz-6">
                                    <a href="#" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#reset-popup">Forgot password?</a>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Sign In</button>
                        </form>
                        <div class="sap-text"><span>Or Sign In With</span></div>
                        <ul class="row gutter-20px gutter-vr-20px">
                            <li class="col"><a href="#" class="btn btn-md btn-facebook btn-block"><em class="icon fab fa-facebook-f"></em><span>Facebook</span></a></li>
                            <li class="col"><a href="#" class="btn btn-md btn-google btn-block"><em class="icon fab fa-google"></em><span>Google</span></a></li>
                        </ul>
                        <div class="ath-note text-center">
                            Don’t have an account? <a href="#" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#register-popup"> <strong>Sign up here</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal  -->
    <!-- Modal  -->
    <div class="modal fade" id="reset-popup">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="ath-container m-0">
                    <div class="ath-body">
                        <h5 class="ath-heading title">Reset <small class="tc-default">with your Email</small></h5>
                        <form action="#">
                            <div class="field-item">
                                <div class="field-wrap">
                                    <input type="text" class="input-bordered" placeholder="Your Email">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-md">Reset Password</button>
                            <div class="ath-note text-center">
                                Remembered? <a href="account/login" @*data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#login-popup"*@> <strong>Sign in here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .modal  -->
    <!-- preloader -->
    <div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="~/assets/home/images/logo-full-white.png" alt=""></span></div>
    <!-- JavaScript -->
    <script src="~/assets/home/assets/js/jquery.bundle.js?ver=200"></script>
    <script src="~/assets/home/assets/js/scripts.js?ver=200"></script>
    <script src="~/assets/home/assets/js/charts.js?ver=200"></script>
    <script src="~/assets/home/assets/js/charts.js?ver=200"></script>
    <script>
        AOS.init();
    </script>

    <script>
        let numberPercent = document.querySelectorAll('.countbar')
        let getPercent = Array.from(numberPercent)
        getPercent.map((items) => {
            let startCount = 0
            let progressBar = () => {
                startCount++
                items.style.width = `${startCount}%`
                if (startCount == items.dataset.percentnumber) {
                    clearInterval(stop)
                }
            }
            let stop = setInterval(() => {
                progressBar()
            }, 25)
        })

    </script>
    <script>
        const data1 = {
            labels: [
                'Token Sale',
                'Team & Advisors',
                'Bussines Dev',
                'Marketing & Reserve',
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [50, 25, 15, 10],
                backgroundColor: [
                    '#3D88FB',
                    '#5637C8',
                    '#C87B07',
                    '#A92535',
                ],
            }]
        };

        const config1 = {
            type: 'doughnut',
            data: data1,
            width: 240,
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: false // Hide legend
                },
                scales: {
                    y: {
                        display: false // Hide Y axis labels
                    },
                    x: {
                        display: false // Hide X axis labels
                    }
                }
            }
        };

        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            config1
        );
        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config1
        );
    </script>

    <script src="~/~/assets/home/assets/app/js/mouse.js"></script>



    <script id="rendered-js">
        // Create Countdown
        var Countdown = {

            // Backbone-like structure
            $el: $('.countdown'),

            // Params
            countdown_interval: null,
            total_seconds: 0,

            // Initialize the countdown
            init: function () {

                // DOM
                this.$ = {
                    days: this.$el.find('.bloc-time.days .figure'),
                    hours: this.$el.find('.bloc-time.hours .figure'),
                    minutes: this.$el.find('.bloc-time.min .figure'),
                    seconds: this.$el.find('.bloc-time.sec .figure')
                };

                var countDownDate = new Date("june 25, 2020 15:37:25").getTime();
                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                //  Time calculations for days, hours, minutes and seconds
                var days_se = Math.floor(distance / (1000 * 60 * 60 * 24));

                var hours_se = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

                var minutes_se = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

                var seconds_se = Math.floor((distance % (1000 * 60)) / 1000);


                // Init countdown values
                this.values = {
                    days: days_se,
                    hours: hours_se,
                    minutes: minutes_se,
                    seconds: seconds_se
                };


                // Initialize total seconds
                this.total_seconds = this.values.hours * 60 * 60 + this.values.minutes * 60 + this.values.seconds;

                // Animate countdown to the end
                this.count();
            },

            count: function () {

                var that = this,
                    $days_1 = this.$.days.eq(0),
                    $days_2 = this.$.days.eq(1),
                    $days_3 = this.$.days.eq(2),
                    $hour_1 = this.$.hours.eq(0),
                    $hour_2 = this.$.hours.eq(1),
                    $min_1 = this.$.minutes.eq(0),
                    $min_2 = this.$.minutes.eq(1),
                    $sec_1 = this.$.seconds.eq(0),
                    $sec_2 = this.$.seconds.eq(1);

                console.log(this.$.days)


                this.countdown_interval = setInterval(function () {

                    if (that.total_seconds > 0) {

                        --that.values.seconds;

                        if (that.values.minutes >= 0 && that.values.seconds < 0) {

                            that.values.seconds = 59;
                            --that.values.minutes;
                        }

                        if (that.values.hours >= 0 && that.values.minutes < 0) {

                            that.values.minutes = 59;
                            --that.values.hours;
                        }


                        // Update DOM values
                        //Days
                        that.checkHour(that.values.days, $days_1, $days_2, $days_3);

                        // Hours
                        that.checkHour(that.values.hours, $hour_1, $hour_2);

                        // Minutes
                        that.checkHour(that.values.minutes, $min_1, $min_2);

                        // Seconds
                        that.checkHour(that.values.seconds, $sec_1, $sec_2);

                        --that.total_seconds;
                    } else {
                        clearInterval(that.countdown_interval);
                    }
                }, 1000);
            },

            animateFigure: function ($el, value) {

                var that = this,
                    $top = $el.find('.top'),
                    $bottom = $el.find('.bottom'),
                    $back_top = $el.find('.top-back'),
                    $back_bottom = $el.find('.bottom-back');

                // Before we begin, change the back value
                $back_top.find('span').html(value);

                // Also change the back bottom value
                $back_bottom.find('span').html(value);

                // Then animate
                TweenMax.to($top, 0.8, {
                    rotationX: '-180deg',
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    onComplete: function () {

                        $top.html(value);

                        $bottom.html(value);

                        TweenMax.set($top, { rotationX: 0 });
                    }
                });


                TweenMax.to($back_top, 0.8, {
                    rotationX: 0,
                    transformPerspective: 300,
                    ease: Quart.easeOut,
                    clearProps: 'all'
                });

            },

            checkHour: function (value, $el_1, $el_2, $el_3) {

                var val_1 = value.toString().charAt(0);
                var val_2 = value.toString().charAt(1);

                if ($el_3 != null)
                    var val_3 = value.toString().charAt(2);

                var fig_1_value = $el_1.find('.top').html();
                var fig_2_value = $el_2.find('.top').html();

                if ($el_3 != null)
                    var fig_3_value = $el_3.find('.top').html();

                if (value >= 10) {

                    // Animate only if the figure has changed
                    if (fig_1_value !== val_1) this.animateFigure($el_1, val_1);
                    if (fig_2_value !== val_2) this.animateFigure($el_2, val_2);

                    if ($el_3 != null)
                        if (fig_3_value !== val_3)
                            this.animateFigure($el_3, val_3);

                } else {

                    // If we are under 10, replace first figure with 0
                    if (fig_1_value !== '0') this.animateFigure($el_1, 0);
                    if (fig_2_value !== val_1) this.animateFigure($el_2, val_1);
                    if ($el_3 != null)
                        if (fig_3_value !== val_1) this.animateFigure($el_2, val_1);
                }
            }
        };


        // Let's go !
        Countdown.init();
        //# sourceURL=pen.js
    </script>
    <script>

        // Set the date we're counting down to
        var countDownDate = new Date("jan 25, 2022 23:59:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            $('.countdown-time-first').html(days);
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            $('.countdown-time-second').html(hours);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            $('.countdown-time-third').html(minutes);
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $('.countdown-time-last').html(seconds);
        }, 1000);
    </script>
</body>

<!-- Mirrored from www.gridnet.io/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jan 2020 09:46:58 GMT -->
</html>


